<div class="site">
	<div id="home" class="section inner-home-section">
	  <div class="grid"></div>
	  <div class="site-header inner-site-header">
	    <div class="site-block-in"><a href="/app/"><span class="logo"><img src="images/logo-inner.png"></span></a>
	      <ul class="menu inner-top-menu">
	        <li><a href="#">Discover Iceland</a></li>
	        <li><a href="#">To do & see</a></li>
	        <li><a href="#">Events</a></li>
	        <li><a href="#">Cuerrency converter</a></li>
	      </ul>
	      <div class="top-menu clearfix"> 
	        <ul class="menu lang-menu clearfix">
	          <li><a href="#" class="en active"><br></a></li>
	          <li><a href="#" class="ice"><br></a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <div class="site-block">
	    <h1>Choose your favorite <strong>dream vacation</strong> package from our suggestions</h1>
	  </div>
	</div>
	<div class="section package-info-section">
        <div class="search-preferences-view" />
	</div>
	<div class="section sidebar-content-section">
	  <div class="site-block clearfix">
	    <div class="left-content">
	      <form class="package-parameters-filter">
	        <h4>More criteria you can define your search with</h4>
	        <hr>
	        <h5>Do you have a budget?</h5>
	        <div id="budget-slider" data-from="0" data-to="1000" data-max="1500" data-min="0"></div>
	        <hr>
	        <h5>How do you like to travel?</h5>
	        <input type="checkbox" id="option-11" class="custom-checkbox">
	        <label for="option-11">On my own</label>
	        <input type="checkbox" id="option-12" class="custom-checkbox">
	        <label for="option-12">Private Guide</label>
	        <input type="checkbox" id="option-13" class="custom-checkbox">
	        <label for="option-13">Guided Tours</label>
	        <hr>
	        <h5>How would you like to live?</h5>
	        <input type="checkbox" id="option-21" class="custom-checkbox">
	        <label for="option-21">Camping</label>
	        <input type="checkbox" id="option-22" class="custom-checkbox">
	        <label for="option-22">Icelandic Farm Holidays</label>
	        <input type="checkbox" id="option-23" class="custom-checkbox">
	        <label for="option-23">Bed & Breakfast</label>
	        <input type="checkbox" id="option-24" class="custom-checkbox">
	        <label for="option-24">Hotels</label>
	        <hr>
	        <h5>Ratings:</h5>
	        <table cellspacing="0" cellpadding="0" class="ratings">
	          <tr>
	            <td>
	              <div class="rating-stars clearfix">
	                <input name="star1" type="radio" class="star">
	                <input name="star1" type="radio" class="star">
	                <input name="star1" type="radio" class="star">
	                <input name="star1" type="radio" checked="checked" class="star">
	                <input name="star1" type="radio" class="star">
	              </div>
	            </td>
	            <td>Accommodation</td>
	          </tr>
	          <tr>
	            <td> 
	              <div class="rating-stars clearfix">
	                <input name="star2" type="radio" class="star">
	                <input name="star2" type="radio" class="star">
	                <input name="star2" type="radio" checked="checked" class="star">
	                <input name="star2" type="radio" class="star">
	                <input name="star2" type="radio" class="star">
	              </div>
	            </td>
	            <td>Activity</td>
	          </tr>
	          <tr>
	            <td>
	              <div class="rating-stars clearfix">
	                <input name="star3" type="radio" class="star">
	                <input name="star3" type="radio" class="star">
	                <input name="star3" type="radio" class="star">
	                <input name="star3" type="radio" checked="checked" class="star">
	                <input name="star3" type="radio" class="star">
	              </div>
	            </td>
	            <td>Tour operators</td>
	          </tr>
	        </table>
	      </form>
	    </div>
	   <div class="main-content">
            <div class="search-results-view" />
	   </div>
	  </div>
	</div>
    <div class="questions-view" />
    <div class="footer-view" />
    <div class="bottom-shadow"><br/></div>
</div>
<div class="bottom-view" />