<div class="site">
	<div id="home" class="section inner-home-section">
	  <div class="grid"></div>
	  <div class="site-header inner-site-header">
	    <div class="site-block-in"><span href="#" class="logo"><img src="images/logo-inner.png"></span>
	      <ul class="menu inner-top-menu">
	        <li><a href="#">Discover Iceland               </a></li>
	        <li><a href="#">To do & see</a></li>
	        <li><a href="#">Events</a></li>
	        <li><a href="#">Cuerrency converter</a></li>
	      </ul>
	      <div class="top-menu clearfix"> 
	        <ul class="menu lang-menu clearfix">
	          <li><a href="#" class="en active"><br></a></li>
	          <li><a href="#" class="ice"><br></a></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	  <div class="site-block">
	    <h1>Choose your favorite <strong>dream vacation</strong> package from our suggestions</h1>
	  </div>
	</div>
	<div class="section package-info-section">
	  <div class="site-block">
	    <h2>You have told us so far:</h2>
	    <p>Your type of intrest: <strong>golf, horses, hicking</strong>  -  Timeframe: <strong>01.10.2013 - 23.11.2013</strong>  -  Travellers: <strong>5</strong> Budget: <strong>Û600-900</strong> per person  -  Type of travel: <strong>On my own</strong>  -  Accommodation: <strong>Hotels</strong></p>
	  </div>
	</div>
	<div class="section sidebar-content-section">
	  <div class="site-block clearfix">
	    <div class="left-content">
	      <form class="package-parameters-filter">
	        <h4>More criteria you can defin your search with</h4>
	        <hr>
	        <h5>Do you have budget?</h5>
	        <div id="budget-slider" data-from="600" data-to="900" data-max="1500" data-min="0"></div>
	        <hr>
	        <h5>How do you like to travel?</h5>
	        <input type="checkbox" id="option-11" class="custom-checkbox">
	        <label for="option-11">On my own</label>
	        <input type="checkbox" id="option-12" class="custom-checkbox">
	        <label for="option-12">Private Guide</label>
	        <input type="checkbox" id="option-13" class="custom-checkbox">
	        <label for="option-13">Guided Tours</label>
	        <hr>
	        <h5>How would you like to live?</h5>
	        <input type="checkbox" id="option-21" class="custom-checkbox">
	        <label for="option-21">Camping</label>
	        <input type="checkbox" id="option-22" class="custom-checkbox">
	        <label for="option-22">Icelandic Farm Holidays</label>
	        <input type="checkbox" id="option-23" class="custom-checkbox">
	        <label for="option-23">Bed & Breakfast</label>
	        <input type="checkbox" id="option-24" class="custom-checkbox">
	        <label for="option-24">Hotels</label>
	        <hr>
	        <h5>Ratings:</h5>
	        <table cellspacing="0" cellpadding="0" class="ratings">
	          <tr>
	            <td>
	              <div class="rating-stars clearfix">
	                <input name="star1" type="radio" class="star">
	                <input name="star1" type="radio" class="star">
	                <input name="star1" type="radio" class="star">
	                <input name="star1" type="radio" checked="checked" class="star">
	                <input name="star1" type="radio" class="star">
	              </div>
	            </td>
	            <td>Accommodation</td>
	          </tr>
	          <tr>
	            <td> 
	              <div class="rating-stars clearfix">
	                <input name="star2" type="radio" class="star">
	                <input name="star2" type="radio" class="star">
	                <input name="star2" type="radio" checked="checked" class="star">
	                <input name="star2" type="radio" class="star">
	                <input name="star2" type="radio" class="star">
	              </div>
	            </td>
	            <td>Activity</td>
	          </tr>
	          <tr>
	            <td>
	              <div class="rating-stars clearfix">
	                <input name="star3" type="radio" class="star">
	                <input name="star3" type="radio" class="star">
	                <input name="star3" type="radio" class="star">
	                <input name="star3" type="radio" checked="checked" class="star">
	                <input name="star3" type="radio" class="star">
	              </div>
	            </td>
	            <td>Tour operators</td>
	          </tr>
	        </table>
	      </form>
	    </div>
	   <div class="main-content">
            <div class="package-elements clearfix">
              <div class="in clearfix">
                <div class="element fl first"><img src="images/package-item-1.png">
                  <div class="title"><span>14 days</span><span class="big">OUR FIRST</span><span class="strong">Suggetion for your vacation</span></div>
                  <div class="price"><span>Total price per person</span><span class="big">ISK 189.900</span></div>
                  <div class="cover"><br/></div>
                </div>
                <div class="element fl align-middle align-right"><img src="images/package-item-2.png">
                  <div class="title"><span>11 days</span><span class="big">OUR SECOND </span><span class="strong">suggestion</span></div>
                  <div class="price"><span>Total price per person</span><span class="big">ISK 155.900</span></div>
                  <div class="cover"><br/></div>
                </div>
                <div class="element fl align-middle align-left"><img src="images/package-item-3.png">
                  <div class="title"><span>11 days</span><span class="big">OUR THIRD </span><span class="strong">suggestion</span></div>
                  <div class="price"><span>Total price per person</span><span class="big">ISK 142.900</span></div>
                  <div class="cover"><br/></div>
                </div>
                <div class="element fr"><img src="images/package-item-5.png">
                  <div class="title"><span>11 days</span><span class="big">OUR FIFTH </span><span class="strong">suggestion</span></div>
                  <div class="price"><span>Total price per person</span><span class="big">ISK 122.900</span></div>
                  <div class="cover"><br/></div>
                </div>
                <div class="element fr align-middle align-right"><img src="images/package-item-4.png">
                  <div class="title"><span>11 days</span><span class="big">OUR FORTH </span><span class="strong">suggestion</span></div>
                  <div class="price"><span>Total price per person</span><span class="big">ISK 135.900</span></div>
                  <div class="cover"><br/></div>
                </div>
              </div>
            </div>
	    </div>
	  </div>
	</div>
    <div class="questions-view" />
    <div class="footer-view" />
    <div class="bottom-shadow"><br/></div>
</div>
<div class="bottom-view" />