<% if (typeof days !== 'undefined') { %>

	<% function dayHtml(day, index) { %>
	    <a href="javascript:void(0)" class="day-element" data-index="<%= index %>">
	        <% if (day.image) { %>
	           <div class="img" style="position: relative;">
                    <div style="background-image: url('<%= day.image %>')" />
               </div>
	        <% } %>
	        <div class="description">
	            <div class="day"><%= index + 1 %></div>
	            <p><%= day.description %></p>
	        </div>
	    </a>
	<% } %>


	<div class="days-list clearfix">
	    <div class="col col-1">
	       <% _.each(days, function(day, index) { %>  
	           <% if (index % 3 == 0) { %>
	                <% dayHtml(day, index) %> 
	           <% } %>
	     <% }); %>
	    </div>
	    <div class="col col-2">
	        <% _.each(days, function(day, index) { %>
	            <% if (index % 3 == 1) { %>
	                <% dayHtml(day, index) %> 
	            <% } %>
	       <% }); %>
	    </div>
	    <div class="col col-3">
	        <% _.each(days, function(day, index) { %>
	            <% if (index % 3 == 2) { %>
	                    <% dayHtml(day, index) %> 
	             <% } %>
	        <% }); %>
	    </div>
	</div>

<% } %>
