<% if (typeof plan !== 'undefined') { %>
<div class="gallery">
  <div class="media-holder">
    <% for (var i = 0; i < plan.items.length; i++) { %>
        <% if (plan.items[i].type === 'PRODUCT' && plan.items[i].images.length > 0) { %>
            <img style="background-image: url('<%= plan.items[i].images[0] %>');" />
            <% break %>
        <% } %>
    <%  } %>
  </div>
  <div>
    <div class="thumbs-holder gallery-skin">
      <ul>
          <% _.each(plan.items, function(item) { %>
              <% if (item.type === 'PRODUCT') { %>
	              <% _.each(item.images, function(img) { %>
	                  <li><a href="<%= img %>"><img style="background-image: url('<%= img %>?w=300');"/></a></li>
	              <% }); %>
	              <% _.each(item.video, function(url) { %>
	                  <li><a href="<%= url %>"><img /></a></li>
	              <% }); %>
	          <% } %>
           <% }); %>
      </ul>
    </div>
    <div class="controls clearfix"><a href="#" class="prev">Previous image</a><a href="#" class="next">Next image</a></div>
  </div>
</div>
<% } %>