<% if (typeof plan !== 'undefined') { %>
<div class="gallery">
  <div class="media-holder">
    <img style="background-image: url('<%= plan.previewImage %>');" />
  </div>
  <div>
    <div class="thumbs-holder gallery-skin">
      <ul>
          <% _.each(plan.items, function(item) { %>
              <% _.each(item.images, function(img) { %>
                  <li><a href="<%= img %>"><img style="background-image: url('<%= img %>');"/></a></li>
              <% }); %>
              <% _.each(item.video, function(url) { %>
                  <li><a href="<%= url %>"><img /></a></li>
              <% }); %>
           <% }); %>
      </ul>
    </div>
    <div class="controls clearfix"><a href="#" class="prev">Previous image</a><a href="#" class="next">Next image</a></div>
  </div>
</div>
<% } %>