<% if (plan) { %>
<div class="well">

	<h3>
	   From <strong><%= plan.from %></strong> to <strong><%= plan.to %></strong>
	</h3>
	
	<p class="muted">
	   <small>Sorted in the shortest possible route.</small>
	</p>
	
	<div id="map" style="width: 420px; height: 300px;"></div><br /><br />

    <ul class="thumbnails">
	    <% items.each(function(item) { %>
          <li>
              <div class="thumbnail">
                  <% if (item.imageUrl) { %> 
                       <img src="<%= item.imageUrl %>" />
                  <% } %>
                  <div class="caption">
                      <h3><%= item.title %></h3>
                      <p><strong>On day <%= item.on %></strong></p>
                      <p><%= item.subtitle %></p>
                  </div>
              </div>
         </li>
	    <% }); %>
	</ul>

</div>
<% } %>