<div class="site selected-package-page">
  <div id="home" class="section inner-home-section">
    <div class="header-view"></div>
    <div class="site-block">
      <h1>Yeeah! <strong>Now we are talking</strong> </h1>
    </div>
  </div>
  <div class="section package-info-section">
    <div class="site-block">
      <h2>OK! Let‘s take a vacation</h2>
      <p>You can click on each day to get more information, driving direction, images and videos. <br/>You can change each day if you like, add or remove items.</p>
    </div>
  </div>
  <div class="section day-info-section">
    <div class="site-block">
      <h2>the<strong>ITINERARY</strong></h2>
      <h3>Each day contains detailed information about<br/> what is included in the day.</h3>
      <div class="plan-day-view" />
    </div>
  </div>
  <div class="section details-prices-section">
    <div class="site-block">
      <h2>Details <strong>and prices</strong></h2>
      <% if (typeof plan !== 'undefined') {%>
	      <div class="columns clearfix">
	        <div class="col col-1">
	          <h3>Vacation details</h3>
	          <table>
	            <tr>
	              <td style="width: 75px;">Guests:</td>
	              <td> <strong><%= prefs.guests %></strong></td>
	            </tr>
	          </table><br>
	          <table>
	            <tr>
	              <td style="width: 75px;">Duration:</td>
	                <td> <strong><%= plan.durationInDays %> days</strong></td>
	              </tr>
	              <tr>
	                <td>Arrival:</td>
	                <td><strong><%= moment(plan.from).format('MMMM DD, YYYY') %></strong></td>
	              </tr>
	              <tr> 
	                <td>Departure:</td>
	                <td><strong><%= moment(plan.to).format('MMMM DD, YYYY') %></strong></td>
	              </tr>
	            </table>
	            <h5>Booking:</h5>
	            <p><em>&#8226; Advanced booking of at least four weeks prior to arrival is recommended.</em></p>
	          </div>
	          <div class="col col-2">
	            <h3>ITEMS Included</h3>
	            <table class="zebra">
	                <% _.each(plan.items, function(item) { %>
	                    <% if (item.type === 'PRODUCT' && item.price.price != '0.00') { %>
		                    <tr>
		                        <td><%= item.title %></td>
		                        <td class="price-cell"><%= item.price.currency %> <%= item.price.price %></td>
		                    </tr>
	                    <% } else if (item.type === 'LODGING' && item.price.price != '0.00') { %>
	                        <tr>
	                            <td>
	                               <%= item.title %> 
	                               <br />
	                               <small>
		                               <% if (item.units > 1) { %>
	                                        <%= item.units %> &#215; 	                                   
		                               <% } %>
		                               <%= item.unitName %>
	                               </small>
	                            </td>
	                            <td class="price-cell">
	                               <%= item.price.currency %>
	                               <%= item.price.price %>
	                            </td>
	                        </tr>
	                    <% } else if (item.type === 'HIRE' && item.price.price != '0.00') { %>
	                        <tr>
                                <td>
                                   <%= item.title %> 
                                   <br />
                                   <small>
                                      <%= item.units %> <%= (item.units) == 1 ? 'day' : 'days' %>, <%= item.unitName %>
                                   </small>
                                </td>
                                <td class="price-cell">
                                   <%= item.price.currency %>
                                   <%= item.price.price %>
                                </td>
                            </tr>
	                    <% } %>
	                <% }); %>
	            </table>
	          </div>
	          <div class="col col-3">
	            <h3>NEED TO KNOW</h3>
	            <p>We can not guarantee availabilitiy for 12 hours after you click save my trip. If the trip is not saved within an hour it is automatically canceled, but you can always start over.</p>
	            <div class="total-price">
	              <h4>Total price:</h4>
	              <div class="price"><sup><%= plan.price.currency %></sup> <%= plan.price.price %></div><a href="#" class="hovered button">Book now</a>
	            </div>
	          </div>
	        </div>
        <% } %>
      </div>
    </div>
    <div class="section devide-payment-section">
      <div class="site-block clearfix">
        <div class="label"><strong>DIVIDE</strong><br/>PAYMENT:</div>
        <p class="text">You can divide payment beetween your travel partners. If they are not Xperious users you can invite them and the payment will be devided. <a href="#">click to devide</a></p>
      </div>
    </div>
    <div class="section not-included-section">
      <div class="site-block">
        <h3>Not included:</h3>
        <p>· Optional Excursions (can be booked in advance or at your hotel). </p>
        <p>· Meals & drinks at restaurants and entrance fees (unless otherwise stated)</p>
        <p>· Personal travel insurance</p>
      </div>
    </div>
    <div class="section gallery-section">
      <div class="site-block">
        <h2>Image gallery</h2>
        <h3>Use the arrow keys to scroll through the images/videos and click on an image to enlarge it or to watch the video.</h3>
        <div class="plan-gallery-view" />
      </div>
    </div>
    <div class="section rout-on-map-section">
      <div class="site-block">
        <div class="clearfix">
          <h2>Your vacation <br/><strong>route on a map</strong></h2>
          <h3>Click on the map to enlarge it and see more details about the route and directions.</h3>
        </div>
        <div class="map-holder">
            <div class="map-holder-inner" />
        </div>
      </div>
    </div>
    <div class="questions-view" />
    <div class="footer-view" />
    <div class="bottom-shadow">
        <br/>
   </div>
</div>
<div class="bottom-view" />