<div class="site attractions-place-page">
  <div id="home" class="section inner-home-section">
    <div class="header-view"></div>
    <div class="site-block">
      <h1>You have chosen <span>Nature</span>  in Attractions</h1>
    </div>
  </div>
  <div class="section attractions-title-section">
    <div class="site-block">
      <div class="clearfix">
        <h2>Nature <strong>North</strong></h2>
      </div>
      <div class="region-select">
        <p class="label">CHOOSE REGION:</p>
        <ul class="menu clearfix">
          <li><a href="#">Capital area                                          </a></li>
          <li><a href="#">East</a></li>
          <li class="selected"><a href="#">North</a></li>
          <li><a href="#">South</a></li>
          <li><a href="#">Reykjanes</a></li>
          <li> <a href="#">West</a></li>
          <li><a href="#">Westfjords</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section package-info-section">
    <div class="site-block">
      <h2 class="green">Arnarstapi</h2>
      <p>On the southern side of Snæfellsnes peninsula,119 km from Borgarnes</p>
    </div>
  </div>
  <div class="section gallery-section">
    <div class="site-block">
      <div class="gallery">
        <div class="media-holder"><img src="images/gallery-medium-1.jpg"></div>
        <div>
          <div class="thumbs-holder gallery-skin">
            <ul>
              <li><a href="images/gallery-medium-1.jpg"><img src="images/th-1.png"></a></li>
              <li><a href="images/gallery-medium-2.jpg"><img src="images/th-2.png"></a></li>
              <li><a href="images/gallery-medium-3.jpg"><img src="images/th-3.png"></a></li>
              <li><a href="http://www.youtube.com/watch?v=4vylAqx4Qjk"><img src="images/th-4.png"></a></li>
              <li><a href="http://vimeo.com/12236680"><img src="images/th-5.png"></a></li>
              <li><a href="images/gallery-medium-4.jpg"><img src="images/th-1.png"></a></li>
              <li><a href="images/gallery-medium-5.jpg"><img src="images/th-2.png"></a></li>
              <li><a href="images/gallery-medium-6.jpg"><img src="images/th-3.png"></a></li>
            </ul>
          </div>
          <div class="controls clearfix"><a href="#" class="prev">Previous image</a><a href="#" class="next">Next image</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section attractions-place-info-section">
    <div class="site-block clearfix">
      <div class="col-1">
        <div class="bordered">
          <p><strong>Roadnumber:</strong> 574</p>
          <p><strong>Town:</strong> 356, Snæfellsbær</p>
        </div>
        <div class="description">
          <p>Arnarstapi was an important trading post in the past and had a much bigger population than it has now.</p>
          <p>Columnar basalt, ravines and grottoes surround the Arnarstapi pier. There is good anchorage for small boats.</p>
          <p>There is quite a large arctic tern colony in the village itself. A walk along the coastline is recommended to watch the birds and the magnificent lava formations. The seaside and the cliffs between Arnastapi and Hellnar have been made a Natural Reserve in 1979.</p>
        </div>
      </div>
      <div class="col-2">
        <h3>Places of interest</h3>
        <ul class="menu list clearfix">
          <li> <a href="#">Saxholl crater</a></li>
          <li> <a href="#">Bardarlaug pool</a></li>
          <li> <a href="#">Gatklettur - Arch Rock</a></li>
          <li> <a href="#">Hellnar</a></li>
          <li> <a href="#">Holaholar Crater Area</a></li>
          <li> <a href="#">Stapafell</a></li>
          <li> <a href="#">Olkelda mineral spring</a></li>
          <li> <a href="#">Songhellir, cave</a></li>
          <li> <a href="#">Djupalonssandur & Dritvik</a></li>
          <li> <a href="#">Vatnshellir Cave</a></li>
          <li> <a href="#">Snaefellsjokull glacier</a></li>
          <li> <a href="#">Light house - Malarrifsviti</a></li>
          <li> <a href="#">Londrangar basalt cliffs</a></li>
          <li> <a href="#">Light house - Kirkjuholsviti</a></li>
          <li> <a href="#">Stadarstadur</a></li>
          <li> <a href="#">Light house - Arnarstapaviti</a></li>
          <li> <a href="#">Ytri Tunga</a></li>
        </ul>
        <h3>Towns & Villages</h3>
        <ul class="menu list clearfix">
          <li> <a href="#">Snaefellsnes Peninsula</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section attractions-place-social">
    <div class="site-block clearfix">
      <div class="col-1 clearfix">
        <div class="fb-like-long"><img src="images/like-long.png"></div><a href="#" class="icon icon-gp"> <img src="images/gp-ico.png"></a><a href="#" class="icon icon-tw"> <img src="images/tw-ico-2.png"></a><a href="#" class="icon icon-mail"><img src="images/mail-ico.png"></a><a href="#" class="icon icon-print"><img src="images/print-ico.png"></a>
      </div>
      <div class="col-2 clearfix"><a href="#" class="button">Bookmark</a>
        <div class="map-image"><img src="images/small-map.png"></div>
      </div>
    </div>
  </div>
  <div class="section rout-on-map-section">
    <div class="site-block">
      <div class="clearfix">
        <h2>ATTRACTION <br/><strong>on a map</strong></h2>
        <h3>Click on the map to enlarge it and see more details about the rout and directions.</h3>
      </div>
      <div class="map-holder"><img src="images/route-map.jpg"></div>
    </div>
  </div>
  <div class="footer-view" />
  <div class="bottom-shadow">
     <br/>
  </div>
</div>
<div class="bottom-view" />