<div class="site attractions-place-page">

  <div id="home" class="section inner-home-section">
    <div class="header-view"></div>
    <div class="subtype-view"></div>
  </div>

  <div class="regions-view" />


  <% if (product.id) { %>
	  <div class="section package-info-section">
	    <div class="site-block">
	      <h2 class="green"><%= product.title %></h2>
	      <p><%= product.subtitle %></p>
	    </div>
	  </div>
	
	  <div class="section gallery-section">
	     <div class="site-block">
	       <h2>Image gallery</h2>
	       <h3>Use the arrow keys to scroll through the images/videos and click on an image to enlarge it or to watch the video.</h3>
	       <div class="gallery-view" />
	     </div>
	  </div>
	  <div class="section attractions-place-info-section">
	    <div class="site-block clearfix">
	      <div class="col-1">
	        <div class="bordered">
	           <% if (product.address) { %>
	               <% if (product.address.roadNumber) { %>
	                   <p><strong>Roadnumber:</strong> <%= product.address.roadNumber %></p>
	               <% } %>
	               <% if (product.address.town) { %>
	                   <p><strong>Town:</strong> <%= product.address.town %></p>
	               <% } %>
	           <% } %>
	        </div>
	        <div class="description">
	            <p><%= product.description %></p>
	        </div>
	      </div>
	      <div class="col-2">
		        <h3>Other attractions in the region</h3>
		        <% if (products && products.length > 1) { %>
			        <ul class="menu list clearfix">
			            <% _.each(_.first(products, 20), function(p) { %>
			                <% if (p.id != product.id) { %>
			                    <li><a href="<%= baseUrl + '/' + p.id %>" data-id="<%= p.id %>"><%= p.title %></a></li>
			                <% } %>
			            <% }) %>
			        </ul>
                <% } else { %>
                    <p>No other attractions found</p>
                <% } %>
	      </div>
	    </div>
	  </div>
	  <div class="section attractions-place-social">
	    <div class="site-block clearfix">
	      <div class="col-1 clearfix">
	        <div class="fb-like-long"><img src="images/like-long.png"></div><a href="#" class="icon icon-gp"> <img src="images/gp-ico.png"></a><a href="#" class="icon icon-tw"> <img src="images/tw-ico-2.png"></a><a href="#" class="icon icon-mail"><img src="images/mail-ico.png"></a><a href="#" class="icon icon-print"><img src="images/print-ico.png"></a>
	      </div>
	      <div class="col-2 clearfix"><a href="#" class="button">Bookmark</a>
	        <div class="map-image"><img src="images/small-map.png"></div>
	      </div>
	    </div>
	  </div>
	  <div class="section rout-on-map-section">
	    <div class="site-block">
	      <div class="clearfix">
	        <h2>ATTRACTION <br/><strong>on a map</strong></h2>
	        <h3>Click on the map to enlarge it and see more details about the rout and directions.</h3>
	      </div>
	        <div class="map-holder" />
	    </div>
	  </div>
  <% } else { %>
         <div class="loading"><img src="<%= loader %>" /></div>
  <% } %>

  <div class="footer-view" />
  <div class="bottom-shadow">
     <br/>
  </div>
</div>
<div class="bottom-view" />