<% var length = ((product.images ? product.images.length : 0) + (product.video ? product.video.length : 0)) %>
<div class="site-block">
	<% if (length > 1) { %>
	   <h2>Image gallery</h2>
	   <h3>Use the arrow keys to scroll through the images/videos and click on an image to enlarge it or to watch the video.</h3>
    <% } else { %>
       <h2>Image gallery</h2>
       <h3></h3>
    <% } %>
	<% if (product.images) { %>
		<div class="gallery">
		  <div class="media-holder">
	        <img style="background-image: url('<%= product.images[0] %>');" />
		  </div>
		  <div>
		    <div class="thumbs-holder gallery-skin">
		      <ul>
	            <% if (length > 1) { %>
		               <% _.each(product.images, function(img) { %>
		                   <li><a href="<%= img %>"><img style="background-image: url('<%= img %>');"/></a></li>
		               <% }); %>
		               <% _.each(product.video, function(url) { %>
		                   <li><a href="<%= url %>"><img /></a></li>
		               <% }); %>
	            <% } %>
		      </ul>
		    </div>
		    <% if (length > 1) { %>
		       <div class="controls clearfix"><a href="#" class="prev">Previous image</a><a href="#" class="next">Next image</a></div>
		    <% } %>
		  </div>
		</div>
	<% } %>
</div>