<% if (product.images) { %>
	<div class="gallery">
	  <div class="media-holder">
        <img style="background-image: url('<%= product.images[0] %>');" />
	  </div>
	  <div>
	    <div class="thumbs-holder gallery-skin">
	      <ul>
               <% _.each(product.images, function(img) { %>
                   <li><a href="<%= img %>"><img style="background-image: url('<%= img %>');"/></a></li>
               <% }); %>
               <% _.each(product.video, function(url) { %>
                   <li><a href="<%= url %>"><img /></a></li>
               <% }); %>
	      </ul>
	    </div>
	    <div class="controls clearfix"><a href="#" class="prev">Previous image</a><a href="#" class="next">Next image</a></div>
	  </div>
	</div>
<% } %>