<% function attractionHtml(attraction, index, baseUrl) { %>
    <a href="<%= baseUrl  + '/' + attraction.id %>" class="element" data-id="<%= attraction.id %>">
         <div class="img" style="background-image: url('<%= attraction.images[0] %>')" />
         <div class="cover"></div>
         <div class="details">
           <h4><%= attraction.title %></h4>
           <p style="word-wrap: break-word;"><%= attraction.summary %> <span>[...]</span></p>
         </div>
    </a>
<% } %>


<div class="attractions-list clearfix">
   <% if (attractions.length > 0) { %>
   <div class="col">
    <% _.each(attractions, function(attraction, index) { %>
        <% if (index % 4 == 0 && attraction.images) { %>
            <% attractionHtml(attraction, index, baseUrl) %>
        <% } %>
    <% }) %>
   </div>
   <div class="col">
       <% _.each(attractions, function(attraction, index) { %>
           <% if (index % 4 == 1 && attraction.images) { %>
               <% attractionHtml(attraction, index, baseUrl) %>
           <% } %>
       <% }) %>
   </div>
   <div class="col">
       <% _.each(attractions, function(attraction, index) { %>
           <% if (index % 4 == 2 && attraction.images) { %>
               <% attractionHtml(attraction, index, baseUrl) %>
           <% } %>
       <% }) %>
   </div>
   <div class="col">
       <% _.each(attractions, function(attraction, index) { %>
           <% if (index % 4 == 3 && attraction.images) { %>
               <% attractionHtml(attraction, index, baseUrl) %>
           <% } %>
       <% }) %>
   </div>

   <% } else { %>
         <div class="loading"><img src="<%= loader %>" /></div>
   <% } %>
</div>