<div class="section attractions-title-section">
  <div class="site-block">
    <div class="clearfix">
      <h2>IN 
        <%= (selected && selected.title 
            && (selected.title.toUpperCase() === 'NORTH' 
             || selected.title.toUpperCase() === 'EAST' 
             || selected.title.toUpperCase() === 'SOUTH' 
             || selected.title.toUpperCase() === 'WEST')) 
             ? 'THE' : '' %> 
        <strong><%= selected ? selected.title : '' %></strong>
      </h2>
    </div>
    <div class="region-select">
      <p class="label">CHOOSE REGION:</p>
      <ul class="menu clearfix">
        <% _.each(regions, function(region) { %>
            <li <%= (region.id == selected.id) ? 'class="selected"' : '' %> >
                <a href="<%= baseUrl + '/' + region.id %>" data-id="<%= region.id %>"><%= region.title %></a>
            </li>
        <% }) %>
      </ul>
    </div>
</div>