<div id="bottom" class="section bottom-section">
  <div class="site-block">
    <p>We're based in Reykjavik, Iceland. <br>We work with clients from all over the world. Get in touch with us, we're user-friendly!</p>
    <div class="contacts"><span class="email"> <a href="mailto:<%= country.email %>"><%= country.email %></a></span><span class="phone">+354 415 5100</span></div>
    <p>We're always looking for great talent to join our team. Apply for a position today!</p>
    <p class="copyrights">&copy;2013 Xperious Ltd. All Rights Reserved.</p>
  </div>
</div>