<div id="footer" class="section footer-section">
  <div class="site-block clearfix">
    <div class="col">
      <h4>NAVIGATE</h4>
      <div class="footer-links clearfix"><a href="#">Home</a><a href="#">About us</a><a href="#">Attractions</a><a href="#">Contact Us</a><a href="#">Blog</a><a href="#">Privacy Policy</a><a href="#">Events</a><a href="#">Terms &amp; Conditions</a><a href="#">Destination </a></div>
    </div>
    <div class="col col-2">
      <h4>CONTACT</h4>
      <p><strong>Xperious</strong> - ICELAND office<br>Ofanleiti 2, 4<sup>th</sup> floor<br>105 Reykjavik - Iceland<br><br><a href="mailto:<%= country.email %>" style="text-transform: uppercase"><%= country.email %></a><br><br>Tel: +354 <span class="grey">415 5100</span><br><br><br><br><strong class="chat-ico">LIVE CHAT</strong>Our office is open 9:00 AM to <br>5:00 PM (GMT) Monday - Friday.<br><br>We will respond as soon as possible <br>to voicemail and emails.</p>
    </div>
    <div class="col col-3">
      <div class="partners clearfix">
        <p><a href="http://www.ferdamalastofa.is/en/licences-legislation/travel-agency/list-of-travel-agencies" target="_blank"> <img src="images/travel-agency.png"></a></p>
        <p><a href="http://abta.com/go-travel/before-you-travel/find-a-member" target="_blank"> <img src="images/abta.png"></a></p>
        <p><a href="http://saf.is/saf/en/saf_members/" target="_blank"> <img src="images/saf.png"></a><a href="http://www.inspiredbyiceland.com/" target="_blank"> <img src="images/inspired-by.png"></a></p>
        <p class="payments"><img src="images/cards.png"><br><a href="https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=www.nordicvisitor.com&amp;lang=en" target="_blank"> <img src="images/secured-by.png"></a></p>
      </div>
    </div>
  </div>
</div>