<div class="grid"></div>
<div class="site-header inner-site-header">
  <div class="site-block-in"><a href="javascript:void(0)" id="logo"><span class="logo"><img src="images/logo-inner.png"></span></a>
    <ul class="menu inner-top-menu">
      <li><a href="#">Discover Iceland</a></li>
      <li><a href="#">To do & see</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Cuerrency converter</a></li>
    </ul>
    <div class="top-menu clearfix"> 
      <ul class="menu lang-menu clearfix">
        <li><a href="#" class="en active"><br></a></li>
        <li><a href="#" class="ice"><br></a></li>
      </ul>
    </div>
  </div>
</div>