<div class="grid"></div>
<div class="site-header inner-site-header">
  <div class="site-block-in"><a href="javascript:void(0)" id="logo"><span class="logo"><img src="images/logo-inner.png"></span></a>
    <ul class="menu inner-top-menu">
      <li><a href="javascript:void(0)">Discover <%= country %></a></li>
      <li>
        <a href="javascript:void(0)">Attractions</a>
        <ul class="menu submenu">
	        <li><a href="/app/attractions">For the Children</a></li>
	        <li><a href="/app/attractions">Highlights</a></li>
	        <li><a href="/app/attractions">National Parks</a></li>
	        <li><a href="/app/attractions">Nature</a></li>
	        <li><a href="/app/attractions">The Highlands</a></li>
	        <li><a href="/app/attractions">Wild Life</a></li>
	        <li><a href="/app/attractions">Other Attractions</a></li>
        </ul>
      </li>
      <li><a href="/app/events">Events</a></li>
      <li><a href="javaScript:void(0);">Currency converter</a>
         <form class="convert-form" style="top: 32px; right: -30px;">
            <div class="form-row">
              <select style="width: 144px;" class="selectmenu-in-popup">
                <option>ISK</option>
                <option>GBP</option>
              </select>
              <input type="text" value="1">
            </div>
            <div class="form-row">
              <select style="width: 144px;" class="selectmenu-in-popup">
               <option>GBP</option>
               <option>ISK</option>
              </select>
             <input type="text" value="223.00">
           </div>
         </form>
      </li>
    </ul>
    <div class="top-menu clearfix"> 
      <ul class="menu lang-menu clearfix">
        <li><a href="#" class="en active"><br></a></li>
        <li><a href="#" class="ice"><br></a></li>
      </ul>
    </div>
  </div>
</div>