<span class="buttoned ico-calendar">
    <% if (from.day) {%>
       <span class="day-month">
        <span class="day"><%= from.day %></span>
        <span class="month"><%= from.month %></span>
       </span>
    <% } %>
    

    <% if (from.day || to.day) {%>
       <span class="separator">&#8211;</span>
    <% } %>


    <% if (to.day) {%>
       <span class="day-month">
        <span class="day"><%= to.day %></span>
        <span class="month"><%= to.month %></span>
       </span>
    <% } %>
    

    <% if (!from.day && !to.day) { %>
        Timeframe
    <% } %>
</span>