.attractions-place-page .inner-home-section {background: url(../images/attractions-bg-2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.attractions-place-page .inner-home-section h1 {padding-top: 120px; padding-bottom: 73px;}
.attractions-place-page .inner-home-section h1 span {display: inline-block; background: url(../images/bottom-rep.png); color: #559fd3; font-weight: 500; padding-bottom: 6px; padding-left: 12px; padding-right: 12px;}



/*Attractions section title -------------------------------------------------------------------------- */
.attractions-place-page .gallery-section .site-block {background: url(../images/frame-bg.png); padding-top: 50px; padding-bottom: 26px;}
.attractions-place-page .gallery-section {background: url(../images/gallery-bg-2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}



/*Package info section -------------------------------------------------------------------------- */
.package-info-section h2.green {font-size: 57px; color: #86c543; margin-bottom: 4px;}
.attractions-place-page .package-info-section p {margin-top: 4px; margin-bottom: 3px;}
.attractions-place-page .package-info-section .site-block {padding-top: 15px;}

.attractions-place-page .attractions-title-section .site-block {position: relative; padding-bottom: 18px;}
.attractions-place-page .attractions-title-section .region-select {position: absolute; left: 0px; bottom: 18px;}



/*Attractions place info section -------------------------------------------------------------------------- */
.attractions-place-info-section {background: #fff;}
.attractions-place-info-section .site-block {padding-top: 39px; padding-bottom: 14px;}
.attractions-place-info-section .col-1 {float: left; width: 447px; font-size: 14px; color: #333; margin-left: 110px;}
.attractions-place-info-section .col-1 strong {font-weight: 500;}
.attractions-place-info-section .col-2 {float: right; width: 404px;}

.attractions-place-info-section .bordered {border-top: 1px solid #a6a49f;}
.attractions-place-info-section .bordered p {margin: 0; padding: 8px 0; padding-bottom: 7px; border-bottom: 1px solid #a6a49f;}
.attractions-place-info-section .description p {line-height: 19px; margin: 17px 0;}
.attractions-place-info-section h3 {text-transform: uppercase; margin: 0; color: #605f5c; font-size: 20px; font-weight: 300; margin-bottom: 2px;}
.attractions-place-info-section .list {margin-bottom: 38px;}
.attractions-place-info-section .list li {width: 186px; padding-right: 10px; margin-bottom: 0px; float: left; padding-left: 6px; background: url(../images/list-li.png) no-repeat left 10px; font-size: 14px; line-height: 19px;}
.attractions-place-info-section .list a:hover {color: #8D8D8C;}


/*Attractions place social section -------------------------------------------------------------------------- */
.attractions-place-social {background: #f2f2f2;}
.attractions-place-social .site-block {}
.attractions-place-social .col-1 {float: left; width: 447px; margin-left: 110px; padding-top: 40px; padding-bottom: 40px;}
.attractions-place-social .col-2 {float: right; width: 305px; padding-right: 100px;}

.attractions-place-social .fb-like-long,
.attractions-place-social .icon {float: left; margin-right: 14px;}
.attractions-place-social .button {float: left; margin-top: 30px; height: 40px; line-height: 40px; font-size: 14px; background-color: #86c543; font-weight: 400; width: 89px;}
.attractions-place-social .button:hover {background-color: #53762b;}
.attractions-place-social .map-image {float: right; padding-top: 17px;}



/*Rout on map section -------------------------------------------------------------------------- */
.attractions-place-page .rout-on-map-section h2 {width: 192px;}