.attractions-page .inner-home-section {background: url(../images/attractions-bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.attractions-page .inner-home-section h1 {padding-top: 120px; padding-bottom: 73px;}
.attractions-page .inner-home-section h1 span {display: inline-block; background: url(../images/bottom-rep.png); color: #559fd3; font-weight: 500; padding-bottom: 6px; padding-left: 12px; padding-right: 12px;}


/*Attractions section title -------------------------------------------------------------------------- */
.attractions-title-section {background: #a6a49f;}
.attractions-title-section .site-block {padding-top: 14px; padding-bottom: 8px;}
.attractions-title-section h2 {font-size: 47px; color: #333; font-weight: 300; margin: 0; line-height: 38px; width: 197px; float: left; text-transform: uppercase;}
.attractions-title-section h2 strong {font-weight: 400; color: #e5e5e5;}
.attractions-title-section h3 {margin: 0; font-size: 16px; color: #333; line-height: 18px; padding-top: 37px; float: left; width: 420px; font-weight: 300;}
.attractions-title-section .region-select {padding-left: 240px; padding-top: 2px; font-weight: 300;}

.region-select .label {text-transform: uppercase; font-size: 18px; color: #e5e5e5; margin-bottom: 2px; font-weight: 400;}
.region-select li {display: inline-block; float: left; text-transform: uppercase; margin-right: 23px;}
.region-select li a {display: inline-block; font-size: 14px; color: #333;}
.region-select li.selected a,
.region-select li a:hover {color: #e5e5e5;}

/*Attractions section -------------------------------------------------------------------------- */
.attractions-section {background: url(../images/attractions-pattern.png);}
.attractions-section .site-block {padding-top: 45px; padding-bottom: 25px;}
.attractions-section .col {width: 226px; float: left; margin-right: 13px;}
.attractions-section .col.last {margin-right: 0;}
.attractions-section .details {margin: 6px 10px; margin-top: 3px; margin-right: 0; margin-bottom: 0; padding-bottom: 5px; border-bottom: 1px solid #a6a49f;}
.attractions-section .element {display: block; color: #333; position: relative; margin-bottom: 11px;}
.attractions-section .element:hover {background: #797979;}
.attractions-section .element .cover {left: 0px; top: 0px; width: 226px; height: 155px; position: absolute; background: url(../images/zoom-attraction.png) no-repeat center center; visibility: hidden;}
.attractions-section .element:hover .cover {visibility: visible;} 
.attractions-section .element h4 {font-weight: 500; color: #559fd3; margin: 0; font-size: 16px; line-height: 18px; margin-bottom: 2px;}
.attractions-section .element p {font-size: 12px; color: #333; line-height: 17px; margin: 0;}
.attractions-section .element p span {color: #559fd3;}
.attractions-section .element:hover h4 {color: #fff;}
.attractions-section .element:hover p {color: #fff;}
.attractions-section .element:hover p span {color: #fff;}