.selected-package-page .inner-home-section {background: url(../images/selected-bg.jpg) no-repeat fixed center top; 
  -webkit-background-size: auto 250px;
  -moz-background-size: auto 250px;
  -o-background-size: auto 250px;
  background-size: auto 250px;
}

.selected-package-page .inner-home-section h1 {padding-top: 120px; padding-bottom: 72px;}



/*Day info section -------------------------------------------------------------------------- */
.day-info-section {background: url(../images/days-bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.day-info-section h2 {font-size: 57px; font-weight: 300; color: #fff; margin-top: 0; margin-bottom: 10px; text-transform: uppercase; padding-top: 37px;}
.day-info-section h2 strong {font-weight: bold; color: #333;}
.day-info-section h3 {padding-left: 105px; margin: 10px 0; font-size: 18px; font-weight: 400; color: #fff; margin-bottom: 76px;}

.days-list .col {width: 300px; float: left; margin-right: 22px;}

.days-list {padding-bottom: 39px;}
.day-element {margin-bottom: 20px; display: block;}
.day-element img {border-radius: 3px 3px 0 0;}
.day-element .description {padding: 15px; padding-left: 55px; background: url(../images/day-grad-2.png); position: relative;}
.day-element .day {position: absolute; color: #fff; font-size: 35px; font-weight: bold; padding-left: 14px; background: url(../images/day-text.png) no-repeat left 5px; left: 15px; top: 14px; line-height: 35px;}
.day-element p {color: #fff; font-size: 14px; font-weight: 300; margin: 0;}



/*Details and prices section -------------------------------------------------------------------------- */
.details-prices-section {background: url(../images/details-bg.png);}
.details-prices-section .site-block {padding-bottom: 25px;}
.details-prices-section h2 {font-weight: 300; font-size: 57px; color: #fff; margin-bottom: 25px;}
.details-prices-section h2 strong {color: #53762b; font-weight: 400;}
.details-prices-section h3 {color: #53762b; font-size: 26px; font-weight: 300; text-transform: uppercase; margin-bottom: 15px;}
.details-prices-section .col-2 h3 {margin-bottom: 10px;}
.details-prices-section h4 {font-weight: 400; font-size: 19px; color: #53762b; margin: 0;}
.details-prices-section h5 {font-weight: 400; font-size: 14px; color: #53762b; margin-bottom: 0; margin-top: 17px;}

.details-prices-section .columns {padding-bottom: 30px;}
.details-prices-section .col {width: 300px; float: left; margin-right: 20px; font-size: 14px; color: #fff; font-weight: 400;}
.details-prices-section .col-2 {width: 330px; margin-right: 45px;}
.details-prices-section .col-3 {margin-right: 0; width: 270px; float: right;}
.details-prices-section .col strong {font-weight: 500;}

.details-prices-section .col p {margin-top: 0px;}
.details-prices-section .col-3 p {min-height: 170px; font-size: 15px;}
.details-prices-section td {padding: 0px 0 0px 0;}
.details-prices-section .zebra {width: 100%;}
.details-prices-section .zebra td {padding: 3px 5px 3px 5px;}
.details-prices-section .zebra tr:nth-child(2n) td {background: url(../images/zebra-bg.png);}

.details-prices-section .price {font-size: 28px; color: #fff; font-weight: 400; padding-bottom: 4px;}
.details-prices-section .price sup {font-size: 18px;}

.details-prices-section .button {background-color: #53762b; font-size: 14px; height: 35px; line-height: 35px; width: 130px; font-weight: 500;}
.details-prices-section .button:hover {background-color: #2c4938;}


/*Devide payment section -------------------------------------------------------------------------- */
.devide-payment-section {background: #98d656; color: #53762b;}
.devide-payment-section .site-block {padding-top: 26px; padding-bottom: 26px;}
.devide-payment-section .label {text-transform: uppercase; font-size: 26px; color: #53762b; width: 128px; float: left; padding-left: 267px; line-height: 20px;}
.devide-payment-section .label strong {font-size: 32px; font-weight: 400; line-height: 28px;}
.devide-payment-section .text {font-size: 12px; color: #53762b; width: 315px; float: left; margin: 0; line-height: 16px; padding-top: 1px;}
.devide-payment-section .text a {font-weight: 500; color: #fff;}


/*Not included section -------------------------------------------------------------------------- */
.not-included-section {background: #53762b; color: #fff; text-align: center;}
.not-included-section .site-block {padding-top: 20px; padding-bottom: 22px;}
.not-included-section h3 {font-weight: 300; margin: 0; font-size: 26px; line-height: 29px;}
.not-included-section p {margin: 0; font-weight: 300; font-size: 14px; line-height: 18px;}



/*Gallery section -------------------------------------------------------------------------- */
.gallery-section {background: url(../images/gallery-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.gallery-section .site-block {padding-top: 10px; padding-bottom: 40px;}
.gallery-section h2 {font-size: 57px; text-align: center; font-weight: 300; color: #fff; margin: 0; padding-top: 24px;}
.gallery-section h3 {font-weight: 400; color: #fff; font-size: 18px; text-align: center; margin: 0; padding-bottom: 48px;}

.gallery {margin-left: 110px;}
.gallery .media-holder {width: 780px; height: 380px; position: relative; background: #004290 url(../images/preload.gif) no-repeat center center;}
.media-holder .video-wrap,
.media-holder img {position: absolute; left: 0; top: 0;}

.gallery .thumbs-holder {width: 780px;}
.thumbs-holder a {display: inline-block; position: relative; float: left; width: 156px; height: 100px;}
.thumbs-holder .zoom,
.thumbs-holder .video {width: 100%; height: 100%; left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;}
.thumbs-holder .zoom {background: url(../images/gallery-zoom.png) no-repeat center center; display: none;}
.thumbs-holder .video {background: url(../images/gallery-video.png) no-repeat center center;}
.thumbs-holder a:hover .zoom,
.thumbs-holder a:hover .video {display: inline-block;}

.gallery .controls {width: 780px; padding-top: 15px; padding-bottom: 10px;}
.gallery .prev,
.gallery .next {display: inline-block; color: #fff; line-height: 24px; font-size: 14px;}
.gallery .prev {padding-left: 24px; background: url(../images/arrow-left.png) no-repeat left top; float: left;}
.gallery .next {padding-right: 24px; background: url(../images/arrow-right.png) no-repeat right top; float: right;}
.gallery .controls a:hover {color: #86c543;}

.gallery-skin {position: relative;}
.gallery-skin .jcarousel-container .jcarousel-container-horizontal {width: 780px;}
.gallery-skin .jcarousel-container .jcarousel-clip {overflow: hidden;}
.gallery-skin .jcarousel-clip-horizontal {width: 780px; height: 100px;}
.gallery-skin .jcarousel-item {width: 156px; height: 100px;}
.gallery-skin .jcarousel-item:hover {cursor: pointer;}
.gallery-skin .jcarousel-item-horizontal {margin-left: 0;}
.gallery-skin .jcarousel-next-horizontal {position: absolute; top: 200px; right: 0; width: 16px; height: 41px; cursor: pointer; background: transparent url(../images/arrow-right.png) no-repeat center center;}
.gallery-skin .jcarousel-prev-horizontal {position: absolute; top: 200px; left: 0; width: 16px; height: 41px; cursor: pointer; background: transparent url(../images/arrow-left.png) no-repeat center center;}


/*Rout on map section -------------------------------------------------------------------------- */
.rout-on-map-section {background: #e5e5e5; color: #605f5c;}
.rout-on-map-section .site-block {padding-top: 58px; padding-bottom: 65px;}
.rout-on-map-section h2 {width: 274px; float: left; font-size: 29px; color: #605f5c; line-height: 24px; font-weight: 300; text-transform: uppercase; margin: 0; padding-left: 110px;}
.rout-on-map-section h2 strong {font-weight: 500;}
.rout-on-map-section h3 {width: 415px; float: left; font-weight: 300; margin: 0; color: #605f5c; font-size: 18px; line-height: 20px; padding-top: 9px;}

.rout-on-map-section .map-holder {margin-left: 110px; padding-top: 40px;}

/*Day popup ----------------------------------------*/
.day-popup {background: #e5e5e5 url(../images/day-popup-grad.png) repeat-y left top; width: 986px; border-radius: 4px; position: relative;}
.day-popup .lefter {width: 270px; float: left; padding: 15px 0px 15px 0px; padding-top: 112px; background: url(../images/add-hand.png) no-repeat 120px 40px;}
.day-popup .righter {width: 715px; float: right;}
.day-popup .lefter h4 {font-size: 18px; color: #fff; font-weight: 400; margin: 0; padding-left: 22px; text-transform: uppercase; margin-bottom: 19px; margin-left: 10px; margin-right: 10px;}
.day-popup .lefter > p {font-size: 14px; color: #fff; padding-left: 22px; margin-left: 10px; margin-right: 10px; margin-bottom: 73px;}
.day-popup .activities-block h4 {background: url(../images/day-group-title.png) no-repeat left 6px;}
.day-popup .activities-block {background: url(../images/day-activities-dots.png) no-repeat 32px bottom; padding-bottom: 26px; margin-bottom: 23px;}
.day-popup .lefter ul {}
.day-popup .lefter li {padding-bottom: 1px; position: relative;}
.day-popup .lefter li > a {color: #fff; text-transform: uppercase; font-size: 14px; padding-left: 32px; padding-right: 10px; display: block; line-height: 20px;}
.day-popup .lefter li > a:hover,
.day-popup .lefter li:hover > a,
.day-popup .lefter li.active > a {background: #86c543; color: #605f5c;}

.day-popup .top {padding-bottom: 25px; padding-left: 23px; padding-right: 23px; padding-top: 50px;}
.day-popup .righter .title {margin: 0px; font-weight: 300; color: #86c543; font-size: 31px; text-align: center;}
.day-popup .righter .title span {display: inline-block; background: #53762b; color: #fff; font-weight: 500; padding: 0 3px; }
.day-popup .subtitle {font-size: 17px; color: #6d6d6d; font-weight: 300; text-align: center; padding-bottom: 31px; margin-top: 0;}
.day-popup .content {}
.day-popup .content h4 {font-size: 18px; color: #333; margin-bottom: 0; font-weight: 300; text-transform: uppercase;}
.day-popup .content p {margin-top: 0px; color: #6d6d6d; font-size: 14px; line-height: 18px;}
.day-popup .day-map {}
.day-popup .day-map h4 {font-size: 24px; color: #86c543; font-weight: 300; margin: 0; text-align: center;}
.day-popup .day-map h5 {font-size: 16px; font-weight: 300; color: #333; margin: 0; text-align: center; padding-bottom: 25px;}

.day-lightbox #fancybox-close {color: #a6a49f; right: 10px; top: 3px; background-image: url(../images/close-2.png); display: inline-block; position: absolute;}
.day-popup .event-tooltip .close {top: auto; bottom: 4px; right: 12px; color: #a6a49f; background: url(../images/close-2.png) no-repeat right center; display: inline-block; position: absolute; font-size: 10px; line-height: 28px; padding-right: 20px; text-transform: uppercase; cursor: pointer;}


.day-popup .event-tooltip {position: absolute; left: 270px; top: -285px; box-shadow: 0 0 15px #333333;}
.day-popup .event-tooltip > .nip {position: absolute; display: inline-block; left: -12px; top: 285px; background: url(../images/tooltip-nip.png) no-repeat left top; width: 12px; height: 20px;}
.day-popup .place-description {padding: 0 5px;}
.day-popup .place-description p {font-size: 14px; color: #333; line-height: 18px; margin-top: 0; margin-bottom: 5px;}
.day-popup .event-tooltip h6 {margin-bottom: 7px;}
.day-popup .event-tooltip .button {font-size: 14px; background-color: #86c543; padding-left: 19px; padding-right: 27px; width: 115px; line-height: 35px; height: 35px;}
.day-popup .event-tooltip .button:hover {background: #53762b url(../images/button-ico.png) no-repeat right center; color: #fff;}