/*Responsive layout--------------------------------------*/

@media only screen and (max-width: 1099px) {
    .touch body {visibility:visible;}
    .touch .hide-on-mobile {display: none !important;}
    .touch .touch-only {display: block;}
    .touch .home-section .grid {display: none;}
    .touch .site {min-width: 240px;}
    .touch .home-section .prev, 
    .touch .home-section .next,
    .touch .events-section .prev, 
    .touch .events-section .next,
    .touch .jcarousel-container .jcarousel-prev, 
    .touch .jcarousel-container .jcarousel-next {display: none !important;}
    .touch .bottom-shadow {display: none;}
}


/*980----------------------------------------------------*/
@media only screen and (max-width: 989px) {

.touch .site {margin-bottom: 0;}

.touch .site-block,
.touch .site-block-in,
.touch .site-bottom-menu .site-block-in {width: auto; padding-left: 5%; padding-right: 5%; overflow: hidden;}
.touch .site-bottom-menu .site-block-in,
.site-header .site-block-in {overflow: visible;}

.touch .planner {left: 5%; right: 5%;}

.touch .planner-form .hidden {left: 0 !important;}
.touch .planner-form .buttoned {display: none;}

.touch .article-content {left: 5%;}
.touch .article-section .logo {display: none;}

.touch .subscribe-form input[type="text"] {width: 82%; margin-bottom: 15px;}

.touch .contact-form input[type="text"], 
.touch .contact-form input[type="password"], 
.touch .contact-form textarea {width: 90%;}

.touch .contact-form .shorter {margin-bottom: 15px; margin-right: 0;}
.touch .contact-form .ui-selectmenu {float: none;}

.touch .contact-form .form-controls {text-align: left;}
.touch .subscribe-form .explain {width: auto;}

.touch .footer-section {word-wrap: break-word;}

.touch .bottom-section {visibility: visible; position: static; height: auto;}


}

@media only screen and (max-width: 960px) {

.touch .slider-container {display: none !important;}
.touch .site-block {height: auto !important;}

.touch .home-section {background: url(../images/home-bg-1.jpg) no-repeat center center;}
.touch .article-section {background: url(../images/bg-2.jpg) no-repeat center center;}
.touch .events-section {background: url(../images/bg-3.jpg) no-repeat center center;}
.touch .contact-form-section {background: #e9e9e9 url(../images/contacts-bg.jpg) no-repeat center center;}
.touch .team-section {background: url(../images/bg-4.jpg) no-repeat center center;}

.touch .site-header {height: 65px;}
.touch .site-header .logo {margin-top: 4px;}
.touch .site-header .logo img {height: 55px; width: auto;}
.touch .qtip {display: none !important;}
.touch .top-menu {display: none;}

.touch .planner {margin-top: 140px; position: static; height: auto; padding-bottom: 25px; padding-bottom: 100px;}

.touch .planner-form input[type="text"] {margin-right: 0; width: 94%; margin-bottom: 15px; padding-left: 3%; padding-right: 3%; border-radius: 0; float: none;}
.touch .planner .button {display: block; border-radius: 0; width: 100%; padding: 0 3%; text-align: center; float: none; background-image: none;}
.touch .planner .info {display: none;}

.touch .site-bottom-menu {display: none;}

.touch .article-content {position: static; width: auto; margin-top: 40px; padding-bottom: 50px;}
.touch .article-section .grid {display: none;}

.touch .team-list {padding-bottom: 30px;}

}

/*780----------------------------------------------------*/
@media only screen and (max-width: 720px) {


.touch .team-list .element,
.touch .team-list .element:nth-child(3n) {width: 47%; margin-right: 6%;}
.touch .team-list .element:nth-child(2n) {margin-right: 0;}

.touch .team-section .title h2 {font-size: 52px; line-height: 52px;}
.touch .team-section .title .subtitle {margin-top: 54px;}

.touch .footer-section h4 {font-size: 30px;}

}
/*700----------------------------------------------------*/
@media only screen and (max-width: 700px) {


}

/*600----------------------------------------------------*/
@media only screen and (max-width: 600px) {



.touch .footer-section .col {float: none; margin-right: 0; width: auto; margin-bottom: 10px;}
.touch .footer-section h4 {margin-bottom: 15px;}
.touch .footer-links {padding-top: 0;}

}

/*540----------------------------------------------------*/
@media only screen and (max-width: 539px) { 

.touch .article-section .grid {display: none;}

.touch .subscribe-form input[type="submit"] {clear: left;}
.touch .subscribe-form .ui-selectmenu {margin-bottom: 15px;}
}

/*480----------------------------------------------------*/
@media only screen and (max-width: 479px) { 

.touch .contact-form-section .contact-form {float: none; width: auto;}
.touch .contact-form-section .contact-info {float: none; width: auto; padding-right: 0;}

.touch .join-club-section .lefter {float: none; width: auto; padding-bottom: 25px;}
.touch .join-club-section .righter {float: none; width: auto;}

.touch .team-section .title h2 {font-size: 40px; line-height: 40px;}
.touch .team-section .title .subtitle {margin-top: 40px;}

.touch .team-list .element,
.touch .team-list .element:nth-child(3n),
.touch .team-list .element:nth-child(2n) {margin-right: 0; width: 72%; margin-left: auto; margin-right: auto; float: none;}

}