/*---Default elements---*/
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; text-decoration: none; color: #86c543;}
a:hover {}
a:hover, a:focus {outline: none;}
a img {border: none;}
img {vertical-align: middle; -ms-interpolation-mode: bicubic;}
b, strong {font-weight: bold;}
p {line-height: 1.2em; margin: 12px 0;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #e5e5e5; margin: 1em 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {margin: 12px 0;}


/*Tables*/
table {border-collapse: collapse; border-spacing: 0;}
table.full-table {width: 100%;}
td, td img {vertical-align: top;}

/*Forms*/
form {margin: 0;}
textarea {overflow: auto; vertical-align: top;}
fieldset {border: 0; margin: 0; padding: 0;}
legend {border: 0; *margin-left: -7px; padding: 0;}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
button, input { line-height: normal; *overflow: visible; }
.form-row input[type="text"], .form-row label {display: inline-block; float: left;} 
label.for-input {width: auto !important; cursor: pointer}
input.radio, input.checkbox {vertical-align: text-bottom; margin: 0;}
input[type="text"], input[type="password"], textarea, select {border: 1px solid #ccc; position: relative;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
button {width: auto; overflow: visible;}
button, input, select, textarea {font-family: 'Ubuntu', sans-serif; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; outline: none;}

/*Placeholders*/
.placeholder {color: #6d6d6d;}
::-webkit-input-placeholder {color: #6d6d6d;}
:-moz-placeholder {color: #6d6d6d;}
::-moz-placeholder {color: #6d6d6d;}

::-webkit-input-placeholder {
   color: #6D6D6D;
}

:-moz-placeholder { /* Firefox 18- */
   color: #6D6D6D;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #6D6D6D;  
}


/*Custom buttons*/
.button {padding-top: 0; padding-bottom: 0; display: inline-block; border-radius: 4px; background: #ccc url(../images/button-ico.png) no-repeat right center; padding-right: 36px; padding-left: 10px; height: 46px; line-height: 46px; text-transform: uppercase; color: #fff; font-size: 18px; border: none; text-align: left; position: relative; font-weight: 300;}

/*Autocomplete*/
.ui-autocomplete {padding: 0; background: #fff;}
.ui-menu .ui-menu-item {border: none; background: none !important; margin: 0 !important;}
.ui-menu .ui-menu-item a {padding: 4px 17px; font-size: 14px; color: #6d6d6d; border: none; background: none !important; margin: 0 !important;}
.ui-menu .ui-menu-item a:hover {color: #333;}

/*Custom Selectmenu*/
.ui-selectmenu { display: block; display: inline-block; position: relative; height: 46px; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; float: left; border: none; background: #fff; border-radius: 4px; font-weight: 300;}
.ui-selectmenu.ui-corner-top {border-radius: 4px 4px 0 0;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; position:absolute; top: 0; display: none; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul { padding:0; margin:0; list-style:none; position: relative; overflow: auto; overflow-y: auto ; overflow-x: hidden; -webkit-overflow-scrolling: touch;} 
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; padding: .405em 2.1em .405em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }

.ui-selectmenu-icon, 
.ui-state-default .ui-icon {width: 38px; height: 38px; background: url(../images/select-down.png) no-repeat left top; margin: 0; right: 1px; top: 4px;}

.ui-selectmenu-menu li a, .ui-selectmenu-status {font-size: 16px; color: #6D6D6D; font-weight: normal; padding-top: 0; padding-bottom: 0; line-height: 46px;}
.ui-selectmenu-menu li a, .ui-selectmenu-status {padding-left: 13px; padding-right: 38px;}
.ui-selectmenu-menu ul {background: #fff; border: none; box-shadow: 0 3px 3px #ccc;}
.convert-form .ui-selectmenu-menu ul {box-shadow: 0 3px 3px #555;}
.ui-selectmenu-menu li, 
.ui-selectmenu-menu li a,
.ui-selectmenu-menu li.ui-item-selected,
.ui-selectmenu-menu li.ui-state-hover {border: none; background: none;}
.ui-selectmenu-menu li a {border-top: 1px solid #E3E2E1;}
.ui-selectmenu-menu li a:hover {color: #999;}

/*---Helpers---*/
.menu {list-style: none; padding: 0; margin: 0;}
.fl {float: left;}
.fr {float: right;}
.tar {text-align: right;}
.tac {text-align: center;}
.tal {text-align: left;}
.vat {vertical-align: top;} 
.vac {vertical-align: center;}
.date {color: #ccc;} 
.touch-only {display: none;}

/*Simple form*/
input[type="text"],
input[type="password"],
textarea {padding: 8px 16px; background: #fff; border: none; border-radius: 4px; font-size: 16px; color: #6d6d6d; line-height: 20px; width: 492px; float: left;}
input[type="text"],
input[type="password"] {height: 20px;}
input.shorter {width: 295px; margin-right: 17px;}
.form-row {margin-bottom: 15px;}


/*-----------Site structure----------*/
html {color: #000; font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {margin: 0; font-family: 'Ubuntu', sans-serif; font-weight: 300; font-size: 12px;}

.site-block,
.site-block-in {margin: 0 auto; width: 990px; padding: 1px 0;}

.site {margin-bottom: 295px; z-index: 100; position: relative; min-width: 1120px;}
.bottom-shadow {position: absolute; width: 100%; height: 19px; bottom: -19px; background: url(../images/footer-cover-shadow.png) repeat-x left bottom;}


/*Sections-------------------------------------------------*/
.home-section {color: #fff; position: relative; overflow: hidden;}
.article-section {color: #0d2115; font-size: 25px;
    background: url(../images/bg-2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.events-section {height: 315px;
    background: url(../images/bg-3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.join-club-section {background: #e3e2e1; padding: 52px 0; color: #6d6d6d; font-size: 14px;}
.contact-info-section {background: #fff; padding: 41px 0; font-size: 26px; color: #a8a5a0; padding-bottom: 55px;}
.contact-form-section {padding-top: 38px; padding-bottom: 25px; color: #a8a5a0;
background: url(../images/contacts-bg.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.help-section {background: #fff; padding: 60px 0; color: #a8a5a0; font-size: 26px; padding-top: 50px;}
.team-section {color: #fff;
background: url(../images/bg-4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer-section {background: #a8a6a0; padding: 26px 0; font-size: 18px; color: #fff; padding-bottom: 33px;}
.bottom-section {background: #303030; padding-top: 25px; padding-bottom: 21px; color: #dcdcdc; font-size: 18px; text-align: center;}



/*Home section ---------------------------------------------*/
.home-section .site-block-in,
.home-section .site-block {position: relative;}
.home-section .grid {position: absolute; left: 0px; top: 123px; width: 100%; background: url(../images/grid.png) repeat scroll 0 0 transparent;}


/*Mobile menu*/
.mobile-menu {position: absolute; left: 0px; top: 0px; display: none; background: url(../images/mobile-menu-ico.png) no-repeat center center; width: 65px; height: 65px; display: none;}
.mobile-menu .menu-items {position: absolute; left: 0px; top: 65px; width: 240px; background: #366382; /*background: url(../images/mob-submenu-rep.png);*/ display: none;}
.mobile-menu:hover .menu-items {display: block;}
.mobile-menu li {text-align: left;border-bottom: 1px solid #294b63;}
.mobile-menu a {display: block; padding: 6px 12px; white-space: nowrap; color: #fff; font-size: 18px;}
.mobile-menu a:hover {color: #86C543;}


/*Background image*/
.slider-container {text-align: center; position:relative;}
.slider-container img {position: absolute; top: 50%; left: 50%; visibility:hidden;}

.background {display: none !important;}
.background img {position: absolute; top: 50%; left: 50%; visibility:hidden;}


/*Prev-next*/
.home-section .prev, .home-section .next,
.popup-gallery-fader .prev, .popup-gallery-fader .next {display: inline-block; width: 30px; height: 30px; position: absolute; top: 50%; margin-top: -15px; cursor: pointer;}
.home-section .prev, .popup-gallery-fader .prev {background: url(../images/arrow-left.png) no-repeat center center; left: 3%;}
.home-section .next, .popup-gallery-fader .next {background: url(../images/arrow-right.png) no-repeat center center; right: 3%;}


/*Site header*/
.site-header {background: url(../images/bottom-rep.png); text-align: center; height: 122px; padding-top: 1px; position: absolute; top: 0; right: 0; width: 100%; z-index: 10;}
.site-header .site-block {position: relative;}
.site-header .logo {margin-top: 19px; display: inline-block;}

.top-menu {position: absolute; right: 30px; top: 10px;}

/*Langiage menu*/
.lang-menu {float: right; padding-right: 6px; padding-top:6px;}
.lang-menu li {float: left; margin-right: 4px;}
.lang-menu a {display: inline-block; width: 18px; height: 14px;}
.lang-menu .en {background: url(../images/lang-uk.png) no-repeat left top;}
.lang-menu .ice {background: url(../images/lang-ice.png) no-repeat left top;}
.lang-menu .active,
.lang-menu a:hover {background-position: left bottom;}

.chose-destination {float: right; padding-left: 25px; background: url(../images/destination-ico.png) no-repeat left top; color: #ddd; line-height: 12px; font-size: 12px; text-transform: uppercase; padding-bottom: 12px;}
.no-js .chose-destination:hover,
.chose-destination.hovered {color: #fff;}

/*Planner*/
.planner {position: absolute; height: 200px; top: 50%; margin-top: -110px; left: 22px; font-weight: 300;}
.planner h1 {font-size: 36px; margin-top: 0; font-weight: 300; margin-bottom: 3px;} 
.planner h2 {font-size: 18px; line-height: 22px; font-weight: 300; margin: 3px 0;}
.planner .info {font-size: 16px; line-height: 22px; padding-left: 16px; font-style: italic; margin: 0;}

.buttoned {padding-top: 0; padding-bottom: 0; display: inline-block; border-radius: 4px; background: #fff; padding-right: 10px; padding-left: 35px; height: 40px; line-height: 40px; color: #a6a49f; font-size: 14px; border: none; margin-right: 7px; float: left; position: relative;}

.ico-calendar {background-image: url(../images/calendar-ico.png); background-repeat: no-repeat; background-position: 9px 10px;}
.ico-guest {background-image: url(../images/guest-ico.png); background-repeat: no-repeat; background-position: 9px 10px;}
.ico-event {background-image: url(../images/event-ico.png); background-repeat: no-repeat; background-position: 9px 10px;}

.planner input[type="text"] {padding: 10px 16px; margin-right: 7px; width: 435px; font-size: 14px;}
.planner .button {line-height: 40px; height: 40px; background-color: #86c543; width: 135px; text-align: left; padding-bottom: 1px; font-size: 14px;}
.no-js .planner .button:hover, .planner .button.hovered{background-color: #53762b;}

/*Planer form*/
.planner-form {padding-top: 27px; padding-bottom: 6px;}
.planner-form .form-row {overflow: hidden; margin-bottom: 0px; position: relative;}
.planner-form .lang {display: inline-block; position: absolute; bottom: 10px; padding: 2px 0; color: #fff; font-size: 12px; background: #5d760f; width: 28px; text-align: center; right: 10px; z-index: 10;}
.planner-form .lang-1 {right: 38px; border-radius: 3px 0 0 3px;}
.planner-form .lang-2 {border-radius: 0 3px 3px 0;}
.planner-form .active {background: #c3d972;}

/*Planner tooltip*/
.qtip-dark {padding-top: 16px !important;}
.qtip-contentWrapper {}
.qtip-title {background: none !important;}
.qtip-borderTop,
.qtip-borderBottom {visibility: hidden;}
.qtip-contentWrapper {border: 2px solid #000 !important; border-radius: 4px; background: url(../images/bottom-rep.png) !important;}
.qtip-content {background: none !important; padding-top: 5px !important; line-height: 14px;}
.qtip-title {padding-bottom: 0px !important; font-size: 16px;}

.qtip-tip {background: url(../images/nip.png) no-repeat left top; left: -5px !important;}
.qtip-tip * {display: none !important;}

/*Site bottom menu*/
.site-bottom-menu {position: absolute; bottom: 0px; left: 0; width: 100%; z-index: 10; background: url(../images/bottom-rep.png);}
.site-bottom-menu .site-block-in {padding: 0;}
.bottom-menu {padding-bottom: 50px;}
.bottom-menu > li {float: left; width: 22%; position: relative;}
.bottom-menu .special {width: 12%;}
.bottom-menu .special a {padding-bottom: 35px; font-size: 12px; background: url(../images/icon-down.png) no-repeat center bottom; text-align: center; display: inline-block; margin-left: 28px;}
.bottom-menu .special .big {font-size: 16px;}
.bottom-menu .special .green {color: #9fd43c;}
.bottom-menu > li > a {color: #fff; display: inline-block; padding-top: 15px; padding-bottom: 15px;}
.no-js .bottom-menu > li > a:hover,
.bottom-menu > li > a.hovered,
.no-js .bottom-menu > li:hover > a,
.bottom-menu > li.hovered > a,
.no-js .bottom-menu > li > ul a:hover,
.bottom-menu > li > ul a.hovered {color: #a0c436;}
.bottom-menu .big {display: block; font-size: 19px; font-weight: 400; line-height: 20px;}
.bottom-menu .small {display: block; font-size: 11px; line-height: 21px; font-weight: 300;}

.bottom-menu .submenu {position: absolute; padding: 0 5px; left: -12px; top: -37px; background: url(../images/submenu-rep.png) repeat-x left top; display: none; height: 37px;}
.no-js li:hover .submenu {display: block; width: 2000px;}
.submenu li {float: left; padding: 0px 9px;}
.submenu li a {color: #fff; line-height: 35px; display: inline-block; font-size: 14px;}

.convert-form {position: absolute; right: 0px; top: -131px; padding: 15px; padding-bottom: 6px; background: url(../images/bottom-rep.png); width: 230px; visibility: hidden; text-align: left;}
.no-js li:hover .convert-form {visibility: visible;}
.convert-form .ui-selectmenu {margin-right: 5px;}
.convert-form .ui-selectmenu-status {text-align: center;}
.convert-form input[type='text'] {width: 49px; text-align: center; padding: 13px 16px;}
.convert-form .form-row {padding-bottom: 9px; margin-bottom: 0; position: relative;}

li:hover .convert-form .ui-selectmenu, 
li:hover .convert-form input[type='text'] {zoom: 1;}

/*Map popup*/
#fancybox-outer {background: none;}
.fancybox-bg {background: none !important;}
#fancybox-close {padding-right: 20px; background: url(../images/close.png) no-repeat right center; top: 2px; right: 7px; font-size: 10px; text-transform: uppercase; color: #fff; line-height: 28px; }

.map-popup .header {position: relative; border-radius: 4px 4px 0 0;}
.map-popup .map-holder {position: relative; border-radius: 0 0 4px 4px; overflow: hidden;}
.map-popup .header {background: #c9c9c9; padding: 36px; text-align: center;}
.map-popup .title {margin: 0; font-size: 51px; color: #6d6d6d; padding-bottom: 3px;}
.map-popup .subtitle {margin: 0; font-size: 16px; color: #6d6d6d;}



/*Article section --------------------------------------------*/
.article-section {position: relative;}
.article-section .grid {position: absolute; z-index: 1; left: 0px; top: 0px; width: 100%; height: 100% !important; right: 0px; bottom: 0px; background: url(../images/grid.png);}
.article-section .site-block {position: relative; z-index: 2; height: 690px;}
.article-content {position: absolute; left: 0px; top: 47%; width: 550px;}
.article-content .brand {font-weight: bold; font-size: 28px; text-transform: uppercase; margin: 0; line-height: 30px;}
.article-content h2 {font-size: 57px; font-weight: bold; margin: 0; line-height: 50px; text-transform: uppercase;}
.article-content .subcontent {margin: 0; line-height: 39px; font-weight: 300;}
.article-content .text {margin: 0; margin-top: 21px; line-height: 29px; font-weight: 300;}
.article-content .button {background-color: #0d2115; font-size: 14px; height: 40px; line-height: 40px; width: 85px;}
.no-js .article-content .button:hover, .article-content .button.hovered {background-color: #2c4938;}

.article-section .logo {position: absolute; right: -425px; bottom: 0px;}



/*Events section --------------------------------------------*/
.events-section .title {padding-left: 35px; background: url(../images/y-2013.png) no-repeat left center; margin-top: 52px; margin-bottom: 36px;}
.events-section .title .small {font-size: 48px; color: #fff; line-height: 45px; font-weight: normal;}
.events-section .title .big {font-size: 66px; color: #00a1d6; line-height: 45px; font-weight: bold;}

/*Slider*/
.events-slider {background: url(../images/event-bg-rep.png) repeat-x left top; padding: 7px 0; position: relative;}
.events-slider li {float: left;}
.events-slider li:last-child {margin-right: 0px;}

.events-slider .date {width: 45px; float: left; margin-right: 9px; text-align: center; padding-top: 0px;}
.events-slider .day {font-size: 40px; font-weight: bold; color: #00a0d6; line-height: 32px; display: block;}
.events-slider .month {font-size: 24px; color: #605f5c; line-height: 20px; display: block; font-weight: bold;}
.events-slider .year {font-size: 20px; color: #605f5c; line-height: 16px; display: block;}
.events-slider .name {font-weight: bold; color: #303030; font-size: 16px; line-height: 16px; margin: 0; font-weight: 500;}
.events-slider .time {font-size: 12px; color: #303030; margin: 0; margin-bottom: 10px; font-weight: 500;}
.events-slider .text {margin: 0; font-size: 12px; color: #303030; line-height: 14px;}

/*Slider*/
.jcarousel-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.events-slider .jcarousel-container {position: static !important;}
.jcarousel-container .jcarousel-container-horizontal {width: 990px;}
.jcarousel-container .jcarousel-clip {overflow: hidden;}
.event-skin .jcarousel-clip-horizontal {width: 990px; height: 255px;}
.event-skin .jcarousel-item {width: 215px; height: 70px; padding-right: 45px;}
.event-skin .jcarousel-item:hover {cursor: pointer;}
.event-skin .jcarousel-item-horizontal {margin-left: 0;}
.jcarousel-container .jcarousel-next-horizontal {position: absolute; top: 50%; margin-top: -20px; right: 3%; width: 16px; height: 41px; cursor: pointer; background: transparent url(../images/next-2.png) no-repeat center center;}
.jcarousel-container .jcarousel-prev-horizontal {position: absolute; top: 50%; margin-top: -20px; left: 3%; width: 16px; height: 41px; cursor: pointer; background: transparent url(../images/prev-2.png) no-repeat center center;}

/*Event popup*/
.event-lightbox {box-shadow: 0 0 15px #000; border-radius: 4px; position: relative;}
.event-popup {width: 440px; background: #fff; border-radius: 4px;}

.popup-gallery-fader {width: 440px; height: 220px; position: relative; border-radius: 4px 4px 0 0; overflow: hidden;}
.popup-gallery-fader img {position: absolute; left: 0px; top: 0px; border-radius: 4px 4px 0 0;}
.popup-gallery-fader .prev,
.popup-gallery-fader .next {width: 30px; height: 30px; z-index: 1105;}

.event-popup .inner {padding: 15px; padding-top: 7px;}
.event-popup h5 {text-align: center; font-size: 32px; font-weight: 300; color: #6d6d6d; margin-top: 0; margin-bottom: 0px;}
.event-popup h6 {text-align: center; color: #6d6d6d; font-weight: 300; font-size: 15px; margin-top: 0px; margin-bottom: 16px;}

.event-popup .event-details {border-top: 1px solid #a6a49f; padding-top: 3px;}
.event-popup .day,
.event-popup .time {display: inline-block; line-height: 26px; padding-left: 23px; padding-right: 17px; font-size: 14px; color: #559fd3;}
.event-popup .day {border-right: 1px solid #a6a49f; margin-right: 8px; background: url(../images/day-ico.png) no-repeat 0px 7px;}
.event-popup .time {background: url(../images/time-ico.png) no-repeat 7px 7px;}
.event-popup .info {border-top: 1px solid #a6a49f; margin-top: 3px; font-size: 14px; color: #333; line-height: 18px; padding-left: 23px; background: url(../images/text-ico.png) no-repeat 0px 10px; padding-top: 4px; margin-bottom: 6px;}
.event-popup .info a {color: #559FD3;}
.event-popup .info a:hover {color: #86C543;}

.event-popup .map-wrap {position: relative;}

.map-wrap .map-tooltip {position: absolute; left: 114px; top: 30px; background: #fff; border: 1px solid #a6a49f; box-shadow: 0 0 6px #d2d1cf; padding: 8px 5px; padding-top: 6px; font-size: 12px; color: #333; width: 200px; text-align: center;}
.map-tooltip .nip {display: inline-block; position: absolute; width: 12px; height: 11px; background: url(../images/nip-map.png) no-repeat left top; bottom: -11px; left: 50%; margin-left: -6px;}
.map-tooltip p {margin: 0;}
.map-tooltip .title {color: #559fd3; font-size: 14px; font-weight: bold;}

.event-popup .popup-bottom {padding: 12px; padding-left: 38px; padding-top: 14px; padding-bottom: 14px;}

.event-lightbox #fancybox-close {top: auto; bottom: 3px; right: 13px; color: #a6a49f; background-image: url(../images/close-2.png);}

.button-ticket {background: #559fd3 url(../images/ticket-ico.png) no-repeat right center; padding-right: 58px; font-size: 12px; height: 35px; line-height: 35px; border-radius: 4px; position: relative;}
.no-js .button-ticket:hover, .button-ticket.hovered {background-color: #366382;}

/*Join club section --------------------------------------------*/
.join-club-section .lefter {float: left; width: 52%;}
.join-club-section .righter {float: right; width: 40%; padding-top: 14px;}

.join-club-section h2 {font-weight: normal; font-size: 30px; line-height: 26px; margin: 0;} 
.join-club-section h2 strong {font-weight: bold; color: #fff; font-size: 34px;} 
.join-club-section .subtitle {margin: 0; font-size: 17px;}

.join-club-section .title h2 {float: left; padding-right: 5px; font-size: 35px; line-height: 28px;}
.join-club-section .title .subtitle {float: left; line-height: 19px; font-size: 21px;}

.subscribe-form {padding-top: 24px;}
.subscribe-form input[type='text'] {width: 222px; margin-right: 15px; padding: 13px 16px;}
.subscribe-form .ui-selectmenu {margin-right: 18px;}
.subscribe-form input[type='submit'] {background-color: #696969; width: 100px;}
.no-js .subscribe-form input[type='submit']:hover, .subscribe-form input[type='submit'].hovered {background-color: #a6a49f;}
.subscribe-form .explain {padding-top: 15px; padding-left: 6px; width: 430px;}

.social-links {padding-top: 46px;}
.social-links a {display: inline-block; width: 27px; height: 27px; margin-right: 5px;}
.no-js .social-links a:hover, .social-links a.hovered {opacity: 0.8; filter: alpha(opacity = 80);}
.social-links .ico-fb {background: url(../images/fb-ico.png) no-repeat left top;}
.social-links .ico-g {background: url(../images/g-ico.png) no-repeat left top;}
.social-links .ico-tw {background: url(../images/tw-ico.png) no-repeat left top;}
.social-links .ico-in {background: url(../images/in-ico.png) no-repeat left top;}



/*Contact info section --------------------------------------------*/
.contact-info-section .label {width: 150px; float: left; font-size: 31px; font-weight: 300;}
.contact-info-section .label .big {display: block; font-size: 105px; font-weight: bold; line-height: 94px;}
.contact-info-section .info-text {line-height: 30px; padding-top: 42px; font-weight: 300;}



/*Contact form section --------------------------------------------*/
.contact-form-section .contact-form {float: left; width: 53%;}
.contact-form-section .contact-info {float: right; width: 29%; padding-top: 4%; padding-right: 9%; font-size: 16px;}
.contact-form-section .contact-info a {color: #00a0d6;}
.no-js .contact-form-section .contact-info a:hover, .contact-form-section .contact-info a.hovered {color: #9FD43C;}
.contact-form-section .contact-info .small {margin-bottom: 20px; font-size: 14px; line-height: 16px;}
.contact-form-section .contact-info p {line-height: 22px;}
.contact-form-section .contact-info h3 {margin: 4px 0;}
.contact-form-section textarea {height: 154px; resize: none;}

.contact-form input[type="text"],
.contact-form input[type="password"],
.contact-form textarea {padding: 13px 16px;}
.contact-form .ui-selectmenu {float: right;}

.contact-form .form-controls {text-align: right;}
.contact-form .button {width: 100px; background-color: #a8a6a0; height: 35px; line-height: 35px; font-size: 14px;}
.no-js .contact-form .button:hover, .contact-form .button.hovered {background-color: #605f5c;}



/*Help section --------------------------------------------*/
.help-section {text-align: center;}
.help-section h2 {margin: 0; font-weight: normal; font-size: 51px;}
.help-section h3 {margin: 0; font-weight: 300; font-size: 28px; line-height: 30px;}
.help-section h3 a {font-weight: bold;}



/*Team section --------------------------------------------*/
.team-section .title {padding-top: 50px;}
.team-section .title h2 {float: left; margin: 0; font-size: 80px; text-align: right; text-transform: uppercase; font-weight: normal; line-height: 59px; padding-right: 12px;}
.team-section h2 strong {color: #e8a357;}
.team-section .title .subtitle {float: left; width: 250px; margin-top: 80px; font-size: 19px; line-height: 20px;}
.team-section h3 {text-align: center; font-size: 19px; margin: 35px 0; margin-bottom: 27px; font-weight: normal;}

.team-list .element {position: relative; width: 30%; /*height: 290px;*/ float: left; margin-right: 3%; margin-bottom: 22px; overflow: hidden;}
.team-list .element:nth-child(3n) {margin-right: 0;}
.team-list .element img {width: 100%; height: auto;}
.team-list .cover {width: 270px; padding: 20px 15px; background: url(../images/name-bg.png);} 

.team-list .name {font-size: 16px; font-weight: bold;}
.team-list .position {font-size: 14px;}

/*Inner pages -----------------------------------------------------------------------------------------------------*/
.inner-site-header {height: auto;} 
.inner-site-header .site-block-in {height: 50px; position: relative;}
.inner-site-header .logo {margin-top: 0; position: absolute; left: -18px; top:2px;} 

.inner-top-menu {position: absolute; left: 155px; top: 20px;}
.inner-top-menu li {float: left; margin-right: 20px;}
.inner-top-menu a {color: #fff; font-size: 16px;}
.inner-top-menu a:hover {color: #86C543;}

.package-list-page .inner-home-section {background: url(../images/inner-header-1.jpg) no-repeat fixed center center; position: relative; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.inner-home-section {position: relative;}
.inner-home-section h1 {color: #fff; font-size: 51px; line-height: 55px; font-weight: 300; text-align: center; padding-top: 124px; padding-bottom: 21px; margin: 0; position: relative; z-index: 9;}
.inner-home-section h1 strong {font-weight: 400;}
.inner-home-section .grid {background: url(../images/grid.png); width: 100%; height: 100%; position: absolute; left: 0; top: 0; right: 0; bottom: 0;}

.package-info-section {background: #e5e5e5; color: #605f5c; text-align: center;}
.package-info-section .site-block {padding-top: 23px; padding-bottom: 29px;}
.package-info-section h2 {font-weight: 300; font-size: 36px;}
.package-info-section p {font-size: 20px;}
.package-info-section p strong {font-weight: 500;}


.sidebar-content-section {background: #fff;}
.sidebar-content-section .site-block {padding: 15px 0; padding-bottom: 5px;}
.sidebar-content-section .left-content {width: 197px; float: left;}
.sidebar-content-section .main-content {width: 730px; float: right; margin-right: 49px;}


.package-parameters-filter {position: relative; border-radius: 3px; border: 1px solid #e5e5e5; padding: 10px;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}
.package-parameters-filter hr {margin: 12px 0;}
.package-parameters-filter h4 {font-size: 17px; color: #e58919; text-align: center; font-weight: 400; margin: 0;}
.package-parameters-filter h5 {font-size: 13px; color: #6d6d6d; font-weight: 400; margin: 0; margin-bottom: 5px;}

/*Cutsom checkboxes*/
.ui-button-text-only {border: 0; padding: 0; padding-left: 23px; background: url(../images/checkbox.png) no-repeat 4px 3px; margin-bottom: 5px; font-family: 'Ubuntu',sans-serif;}
.ui-button-text-only.ui-state-active {background-position: -383px 3px;}
.ui-button .ui-button-text {padding: 0; font-size: 14px; color: #6d6d6d; font-weight: 300; line-height: 17px;}

/*Slider*/
.ui-slider {height: 6px; border: none; background: url(../images/slider-grad.png) repeat-x left top; margin-top: 43px; margin-bottom: 17px;}
.ui-slider .ui-slider-handle {width: 14px; height: 14px; background: url(../images/handler.png) no-repeat left 1px; border: none; cursor: pointer;}
.ui-slider-horizontal .ui-slider-range {background: url(../images/slider-rep.png) repeat-x left top}
.ui-slider .tooltip {background: #605f5c; border-radius: 2px; padding: 1px 4px 0 4px; font-size: 12px; color: #fff; font-weight: 400; left: 50%; white-space: nowrap; line-height: 18px;}
.ui-slider .sp {position: absolute; display: inline-block; width: 10px; height: 6px; left: 50%; margin-left: -5px; bottom: -5px; background: url(../images/grey-nip-down.png) no-repeat left top;}

.ratings td {vertical-align: middle; font-size: 14px; color: #a7a7a7; line-height: 20px;}
.ratings td:first-child {padding-right: 12px;}
.ratings td img {vertical-align: baseline;}

/*Package elements*/
.package-elements {width: 730px; overflow: hidden;}
.package-elements .in {width: 750px;}
.package-elements .element {position: relative; margin-right: 15px; margin-bottom: 15px;}
.package-elements .title,
.package-elements .price {position: absolute; color: #fff;}
.package-elements .title span,
.package-elements .price span {display: block; line-height: 28px;}
.package-elements .title {left: 15px; top: 15px;}
.package-elements .price {right: 15px; bottom: 15px; text-align: right;}

.package-elements span {font-size: 25px;}
.package-elements .strong {font-weight: 400; font-size: 24px;}
.package-elements .big {font-size: 30px; font-weight: bold; text-transform: uppercase; line-height: 32px;}
.package-elements .price span {font-size: 12px; line-height: 18px; font-weight: 400;}
.package-elements .price .big {font-size: 24px;}

.package-elements .cover {position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; right: 0px; bottom: 0px; background: url(../images/zoom-cover.png) no-repeat center center; visibility: hidden; cursor: pointer;}
.element:hover .cover {visibility: visible;}


/*Alignments*/
.first .big {font-size: 38px; line-height: 40px;}
.align-middle .title {top: 30%;}
.align-middle .price {}
.align-left .title,
.align-left .price {left: 15px; right: auto; text-align: left}
.align-right .title,
.align-right .price {right: 15px; left: auto; text-align: right;}


/**/
.questions-suggestions-section {background: #8d8d8c; text-align: center;}
.questions-suggestions-section .site-block {padding-top: 30px; padding-bottom: 40px;}
.questions-suggestions-section h2 {font-size: 36px; color: #e8e8e8; font-weight: 300; margin: 0; margin-bottom: 30px;}

.double-buttons {position: relative;}
.double-buttons .button {margin: 0; background: none; border-radius: 0; padding-left: 0px; padding-right: 0px; width: 150px; text-align: center; font-size: 14px; height: 36px; line-height: 36px; font-weight: 400;}
.double-buttons .button-orange {background: #e58919; color: #fff;}
.double-buttons .button-grey {background: #e5e5e5; color: #333333;}
.double-buttons .or {position: absolute; width: 20px; line-height: 16px; height: 20px; border-radius: 10px; color: #333333; background: #fff; left: 50%; margin-left: -10px; top: 50%; margin-top: -10px;}

/*Footer section --------------------------------------------*/
.footer-section h4 {font-size: 51px; font-weight: normal; margin-top: 0; margin-bottom: 30px;}
.footer-section .col {width: 36%; float: left; margin-right: 1%;}
.footer-section .col-2 {width: 32%;}
.footer-section .col-3 {width: 30%; text-align: left; margin-right: 0;}
.footer-section p {font-weight: 300;}
.footer-section a {color: #fff;}
.no-js .footer-section a:hover, .footer-section a.hovered {color: #ccc;}

.footer-links {padding-top: 15px;}
.footer-links a {width: 50%; display: block; float: left; font-size: 18px; color: #fff; margin-bottom: 12px;}

.partners {padding-top: 8px;}
.partners a {display: inline-block; margin-right: 34px;}
.partners a img {vertical-align: top;}

/*Bottom section --------------------------------------------*/
.bottom-section {position: fixed; left: 0; bottom: 0; width: 100%; z-index: 0; visibility: hidden; height: 250px;}
.bottom-section p {font-weight: 300;}

.inner-bottom-section {visibility: visible;}

.contacts {font-size: 28px; font-weight: bold; margin-top: 42px; margin-bottom: 41px;}
.contacts .email {color: #00a0d6; display: inline-block; padding-right: 15px;}
.contacts .email a {color: #00a0d6;}
.no-js .contacts .email a:hover, .contacts .email a.hovered {color: #a0c436;}
.contacts .phone {color: #a8a5a0; display: inline-block; padding-left: 15px;}

.copyrights {font-size: 14px; margin-top: 20px;}

.js .landing-page {visibility:hidden;}

#plan-inputs-container{overflow: hidden; width:0px;display:inline-block; float: left; }
#plan-inputs-container .inner{width:350px;}

/*Media gallery*/
.media-gallery {border: 1px solid #5c5c5c; border-radius: 4px;}
.media-gallery #fancybox-content {border-color: #363636; border-radius: 4px; padding-top: 30px; background: #363636;}
.media-gallery #fancybox-content img {}
.media-gallery #fancybox-close {background: url(../images/media-close.png) no-repeat left top; right: 1px; top: 22px; width: 16px; height: 16px;}
.media-gallery #fancybox-left-ico, .media-gallery #fancybox-right-ico {width: 60px; height: 80px; margin-top: -30px;}
.media-gallery #fancybox-left-ico {background: url(../images/gallery-prev.png) no-repeat left top;}
.media-gallery #fancybox-right-ico {background: url(../images/gallery-next.png) no-repeat left top;}
.media-gallery #fancybox-left:hover span {left: 19px;}
.media-gallery #fancybox-right:hover span {right: 19px;}

/*---Clearfix---*/
.clearfix:before, .clearfix:after , .form-row:before, .form-row:after {content: ""; display: table;}
.clearfix:after, .form-row:after {clear: both;}
.clearfix, .form-row {zoom: 1;}

