<div class="site events-list-page">
  <div id="home" class="section inner-home-section">
    <div class="header-view"></div>
    <div class="site-block">
      <h1>There are lot of things goin on</h1>
    </div>
  </div>
  <div class="section events-title-section">
    <div class="site-block">
      <div class="clearfix">
        <h2>EVENT <strong>CALENDAR</strong></h2>
        <h3>Select your <strong>favorite</strong> event</h3>
      </div>
    </div>
  </div>
  <div class="section events-list-section">
    <div class="site-block">
      <ul class="menu month-list clearfix">
        <li><a href="#">JAN</a></li>
        <li><a href="#">FEB</a></li>
        <li><a href="#">MAR</a></li>
        <li><a href="#" class="active">APRIL</a></li>
        <li><a href="#">MAY</a></li>
        <li><a href="#">JUNE</a></li>
        <li><a href="#">JULY</a></li>
        <li><a href="#">AUG</a></li>
        <li><a href="#">SEPT</a></li>
        <li><a href="#">OCT</a></li>
        <li><a href="#">NOV</a></li>
        <li><a href="#">DEC</a></li>
      </ul>
      <div class="events-listing clearfix">
        <div class="element double"><img src="images/event-img-1.png"></div><a href="#" class="element nip-left">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">04.04</p>
            <p class="text"><strong>Artwork of the week chosen by Einar Bárðarson</strong> Artwork of the week chosen by Einar Bárðarson.</p>
          </div></a><a href="#" class="element grey">
          <div class="in"> 
            <p class="date">05.04</p>
            <p class="text"><strong>Colin Stetson (US)<br> + Úlfur (IS)</strong> A concert with Colin Stetson at VOLTA on March 17th 2013 at 9pm. Úlfur will support. </p>
          </div></a><a href="#" class="element blue">
          <div class="in"> 
            <p class="date">05.04</p>
            <p class="text"><strong>Colin Stetson (US)<br> + Úlfur (IS)</strong> A concert with Colin Stetson at VOLTA on March 17th 2013 at 9pm. Úlfur will support. </p>
          </div></a><a href="#" class="element orange">
          <div class="in"> 
            <p class="date">06.04</p>
            <p class="text"><strong>Colin Stetson (US)<br> + Úlfur (IS)</strong> A concert with Colin Stetson at VOLTA on March 17th 2013 at 9pm. Úlfur will support. </p>
          </div></a><a href="#" class="element light-grey">
          <div class="in"> 
            <p class="date">06.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
          </div></a><a href="#" class="element brown nip-right">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">06.04</p>
            <p class="text"><strong>Colin Stetson (US)<br> + Úlfur (IS)</strong> A concert with Colin Stetson at VOLTA on March 17th 2013 at 9pm. Úlfur will support. </p>
          </div></a>
        <div class="element double"><img src="images/event-img-2.png"></div>
      </div>
      <div class="month-title"><strong>APRIL</strong> 2013</div>
      <div class="events-listing clearfix"><a href="#" class="element brown">
          <div class="in"> 
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element"><img src="images/event-img-3.png"></div><a href="#" class="element dark-green">
          <div class="in"> 
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element"><img src="images/event-img-4.png"></div><a href="#" class="element nip-left">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element empty"></div><a href="#" class="element light-grey nip-top">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element orange">
          <div class="in"> 
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element blue nip-right">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">24.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element"><img src="images/event-img-5.png"></div>
      </div><br><br>
      <!--       <div class="events-listing clearfix"><a href="#" class="element nip-left">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-top">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-bottom">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-right">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element empty"></div>
      </div><br><br>    
      <div class="events-listing clearfix"><a href="#" class="element nip-left grey">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-top grey">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-bottom grey">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-right grey">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element empty"></div>
      </div><br><br>    
      <div class="events-listing clearfix"><a href="#" class="element nip-left blue">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-top blue">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-bottom blue">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-right blue">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element empty"></div>
      </div><br><br>    
      <div class="events-listing clearfix"><a href="#" class="element nip-left orange">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-top orange">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-bottom orange">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-right orange">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element empty"></div>
      </div><br><br>    
      <div class="events-listing clearfix"><a href="#" class="element nip-left light-grey">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-top light-grey">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-bottom light-grey">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-right light-grey">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element empty"></div>
      </div><br><br>    
      <div class="events-listing clearfix"><a href="#" class="element nip-left brown">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-top brown">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-bottom brown">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-right brown">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element empty"></div>
      </div><br><br>    
      <div class="events-listing clearfix"><a href="#" class="element nip-left dark-green">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-top dark-green">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-bottom dark-green">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a><a href="#" class="element nip-right dark-green">
          <div class="in"> 
            <div class="nip"></div>
            <p class="date">19.04</p>
            <p class="text"><strong>Lorem ipsum dolor sit amet</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
          </div></a>
        <div class="element empty"></div>
      </div> -->
    </div>
  </div>
  <div class="footer-view" />
  <div class="bottom-shadow">
     <br/>
  </div>
</div>
<div class="bottom-view" />