@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic');
@import url('import/styles/jquery.ui.theme/jquery.ui.custom.css');
@import url('import/styles/fancybox/jquery.fancybox.css');
@import url('import/styles/jquery.jcarousel.skin.css');
@import url('import/styles/style.css');
@import url('import/styles/responsive.css');
@import url('import/styles/plan.css');
@import url('import/styles/search.css');
@import url('import/styles/attractions.css');
@import url('import/styles/attraction.css');
@import url('import/styles/events.css');
@import url('pages/index.css');
@import url('pages/search.css');
@import url('pages/plan.css');
@import url('pages/attraction.css');