.timeframe .ui-widget-header {
    background: rgba(255, 255, 255, 0);
    border: 0px;
}

.timeframe.ui-widget-content {
    border: 0px;
    background: rgba(255, 255, 255, 0);
    padding: 0px;
}

.timeframe .ui-dialog-titlebar {
    display: none;
}

.timeframe .ui-dialog-content {
    padding: 0 0 0 0;
}

.timeframe .titlebar {
    background-color: #dadad7;
    height: 40px;
    padding-left: 5px;
    padding-top: 10px;
}

.timeframe .titlebar .choose-date {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 30px;
}

.timeframe .titlebar .selection {
    margin-left: 10px;
    color: #333333;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

.timeframe .titlebar sup {
	font-size: 14px;
}

.timeframe .titlebar .selection strong {
    font-weight: 500;
}

.timeframe .close {
	padding-right: 25px;
	padding-top: 10px;
	font-size: 14px;
	height: 18px;
	float: right;
	width: 50px;
	background-image: url('import/images/timeframe-next.png');
	background-repeat: no-repeat;
	background-position: 35px 8px;
}

.timeframe .datepicker {
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 8px;
    background-image: url('import/images/timeframe-bg.png');
}

.timeframe .ui-datepicker {
    width: 100% !important;
    padding: .2em .2em 0;
    display: none;
    background: rgba(255, 255, 255, 0);
    border: 0px;
}

.timeframe .ui-datepicker .ui-state-default {
    border: 0px;
    font-size: 22px;
    font-weight: 300;
    background: rgba(255, 255, 255, 0);
    color: #333333;
}

.timeframe .ui-datepicker .ui-state-hover {
    border: 0px;
    top: 0px; 
    right: 0px;
    background-color: #86c543;
}

.timeframe .ui-datepicker .ui-state-highlight {
    border: 0px;
    background: rgba(255, 255, 255, 0);
}

.timeframe .ui-datepicker .ui-state-highlight .ui-state-default {
    border: 0px;
    background: #86c543;
}

.timeframe .ui-datepicker .ui-state-active {
    border: 0px;
}

.timeframe .ui-datepicker-today .ui-state-default {
    border: 0px; 
    background: rgba(255, 255, 255, 0);
}

.timeframe .ui-datepicker-today .ui-state-default.ui-state-hover {
    border: 0px; 
    background-color: #86c543;
}


.timeframe .ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
    background: rgba(255, 255, 255, 0);
    border: 0px;
}

.timeframe .ui-datepicker .ui-datepicker-prev,
.timeframe .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.timeframe .ui-icon {
	width: 32px;
	height: 32px;
}

.timeframe .ui-icon-circle-triangle-e {
     background-image: url('import/images/timeframe-right.png') !important;
     background-position: 0px 0px;  
}

.timeframe .ui-icon-circle-triangle-w {
     background-image: url('import/images/timeframe-left.png') !important;
     background-position: 0px 0px;
}

.timeframe .ui-datepicker .ui-datepicker-prev-hover,
.timeframe .ui-datepicker .ui-datepicker-next-hover {
    background: rgba(255, 255, 255, 0);
}

.timeframe .ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}
.timeframe .ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}
.timeframe .ui-datepicker .ui-datepicker-prev span,
.timeframe .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
    cursor: hand;
    cursor: pointer;
}

.timeframe .ui-datepicker .ui-datepicker-title {
    margin: 0em;
    line-height: 1.8em;
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    color: #86c543;
}
.timeframe .ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.timeframe .ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}
.timeframe .ui-datepicker select.ui-datepicker-month,
.timeframe .ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.timeframe .ui-datepicker-month {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px; 
}

.timeframe .ui-datepicker-year {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 24px; 
}

.timeframe .ui-datepicker-group-first .ui-datepicker-title {
    text-align: right;
    width: 100%;
}

.timeframe .ui-datepicker-group-first .ui-datepicker-year {
    margin-right: 10px;
}

.timeframe .ui-datepicker-group-last .ui-datepicker-month {
    margin-left: 25px;
}

.timeframe .ui-datepicker-group-last .ui-datepicker-title {
    text-align: left;
    width: 100%;
}

.timeframe .ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.timeframe .ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: 300;
    text-align: right;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif; 
}
.timeframe .ui-datepicker-week-end {
    color: #9b1110;
}
.timeframe .ui-datepicker td {
    border: 0;
    padding: 7px;
}
.timeframe .ui-datepicker td span,
.timeframe .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif; 
}
.timeframe .ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.timeframe .ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.timeframe .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.timeframe .ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.timeframe .ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.timeframe .ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}
.timeframe .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 370px;
}

.timeframe .ui-datepicker-group-first {
	padding-right: 30px;
}
.timeframe .ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.timeframe .ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.timeframe .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.timeframe .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.timeframe .ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.timeframe .ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

/* RTL support */
.timeframe .ui-datepicker-rtl {
    direction: rtl;
}
.timeframe .ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}
.timeframe .ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.timeframe .ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}
.timeframe .ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.timeframe .ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.timeframe .ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.timeframe .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.timeframe .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.timeframe .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.timeframe .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}