 <div style="position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:-1;" class="slider-container"><img src="images/home-bg-1.jpg"><img src="images/home-bg-2.jpg" style="display:none;"></div>
    <div class="site">          
      <div id="home" class="section home-section full-height-section">
        <div class="grid"></div>
        <div class="site-header">
          <div class="site-block-in">
            <div class="mobile-menu touch-only"><br/>
              <ul class="menu menu-items">
                <li> <a href="#">Facts about Iceland</a></li>
                <li> <a href="#">Facts about Iceland</a></li>
                <li> <a href="#">Facts about Iceland</a></li>
                <li> <a href="#">Facts about Iceland</a></li>
                <li> <a href="#">Facts about Iceland</a></li>
                <li> <a href="#">Facts about Iceland</a></li>
                <li> <a href="#">Facts about Iceland</a></li>
              </ul>
            </div><span href="#" class="logo"><img src="images/logo.png"></span>
            <div class="top-menu clearfix"> <a href="javascript:void(0)" class="chose-destination">Choose your <br/><strong>destination</strong></a>
              <ul class="menu lang-menu clearfix">
                <li><a href="#" class="en active"><br></a></li>
                <li><a href="#" class="ice"><br></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="site-block">
          <div class="planner">
            <h1>Plan your dream vacation</h1>
            <h2>You can plan your own vacation based on what you like to do, <br>how many you are, budget and more.</h2>
            <form class="planner-form">
              <div class="form-row hide-on-mobile">
                <div class="hidden">
                  <input type="text" placeholder="Your type of interest, example: horses, hicking, whale watching" data-tooltiptitle="What is your interest" data-tooltipcontent="Here you type what you want to do in your dream vacation. &lt;br&gt;&lt;br&gt;e.g. whale watching, hicking, glacier tour, river rafting, horses" class="autocomplete-search-input tooltip trigger-input-animation">
                  <div id="plan-inputs-container">
                    <div class="inner clearfix">
                        <span class="timeframe"></span>
                        <span class="guest"><input type="text"  placeholder="1 Guest"></input></span>
                        <span class="buttoned ico-event">Event</span>
                    </div>
                  </div>
                  <input type="submit" value="Plan" class="button">
                </div>
              </div>
              <div class="form-row touch-only"><a href="#" class="lang lang-1">ISL </a><a href="#" class="lang lang-2 active">EN</a>
                <div class="hidden">
                  <input type="text" placeholder="Your type of interest">
                  <input type="submit" value="PLAN MY TRIP" class="button">
                </div>
              </div>
            </form>
            <p class="info hode-on-mobile">Are you attending an event? <a href="#">click here</a></p>
          </div>
        </div><span class="prev"><br/></span><span class="next"><br/></span>
        <div class="site-bottom-menu">
          <div class="site-block-in">
            <ul class="menu bottom-menu clearfix">
              <li><a href="javaScript:void(0);"><span class="big">Discover Iceland</span><span class="small">All you need to know about Iceland</span></a>
                <ul class="menu submenu">
                  <li> <a href="#">Facts about Iceland</a></li>
                  <li> <a href="#">Regions</a></li>
                  <li> <a href="#">A Country for All</a></li>
                  <li> <a href="#">Seasons</a></li>
                  <li> <a href="#">Nature's variety show</a></li>
                  <li> <a href="#">Photos</a></li>
                </ul>
              </li>
              <li><a href="javaScript:void(0);"><span class="big">To do &amp; see</span><span class="small">Interesting placres</span></a>
                <ul class="menu submenu">
                  <li> <a href="#">National Parks</a></li>
                  <li> <a href="#">Culture and Arts</a></li>
                  <li> <a href="#">Dining & Entertainment</a></li>
                  <li> <a href="#">Shopping</a></li>
                  <li> <a href="#">Festivities</a></li>
                </ul>
              </li>
              <li class="special"><a href="#article" class="slide-down"><span class="green">CLICK</span> OR<br> <span class="green">SCROLL</span><br> <span class="big">DOWN</span></a></li>
              <li class="tar"><a href="#"><span class="big">Event calendar</span><span class="small">Interesting events</span></a></li>
              <li class="tar"><a href="javaScript:void(0);"><span class="big">Currency converter</span><span class="small">Calculate rate of the day</span></a>
                <form class="convert-form">
                  <div class="form-row">
                    <select style="width: 144px;" class="selectmenu-in-popup">
                      <option>ISK</option>
                      <option>GBP</option>
                    </select>
                    <input type="text" value="1">
                  </div>
                  <div class="form-row">
                    <select style="width: 144px;" class="selectmenu-in-popup">
                      <option>GBP</option>
                      <option>ISK</option>
                    </select>
                    <input type="text" value="223.00">
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="article" class="section article-section">
        <div class="grid"><br/></div>
        <div class="background"><img src="images/bg-2.jpg"></div>
        <div class="site-block">
          <div class="article-content">
            <p class="brand">ambassador</p>
            <h2>whale watching in iceland</h2>
            <p class="subcontent">...bon voyage</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet urna adipiscing tellus ultricies porttitor. <a class="button" href="#">Read more</a></p>
            <div class="logo"> <img src="images/logo-ambassador.png"></div>
          </div>
        </div>
      </div>
	  <div id="events" class="section events-section">
	   <div class="site-block">
	        <h2 class="title"><span class="small">UPCOMING <br/></span><span class="big">EVENTS</span></h2>
	   </div>
	   <div class="events-slider">
	    <div class="site-block"></div>
	   </div>
	  </div>
      <div id="join" class="section join-club-section">
        <div class="site-block clearfix">
          <div class="lefter">
            <h2>JOIN THE<br> <strong>XPERIOUS TRAVEL CLUB</strong></h2>
            <p class="subtitle">For special offers an news. </p>
            <form class="subscribe-form">
              <input type="text" placeholder="Yor email address">
              <select style="width: 120px;" class="selectmenu">
                <option>Country</option>
                <option>Lithuania</option>
                <option>Latvia</option>
                <option>Estonia</option>
              </select>
              <input type="submit" value="join" class="button">
              <div class="explain">We promise not to weary you with too frequent emails. We also promise never to let any other provider have your email.</div>
            </form>
          </div>
          <div class="righter">
            <div class="title clearfix">
              <h2><strong>SOCIAL</strong><br> MEDIA</h2>
              <p class="subtitle">Share<br> your<br> experience</p>
            </div>
            <div class="social-links"><a href="#" class="ico-fb"><br>   </a><a href="#" class="ico-g"><br>  </a><a href="#" class="ico-tw"><br> </a><a href="#" class="ico-in"><br> </a></div>
          </div>
        </div>
      </div>
      <div id="contact" class="section contact-info-section">
        <div class="site-block clearfix">
          <div class="label">CONTACT <span class="big">US</span></div>
          <div class="info-text">Want to know more about us? Give us a call or drop us an email. If this is about a project, please use our project planner so we can learn more about what you have in mind.</div>
        </div>
      </div>
      <div id="form" class="section contact-form-section">
        <div class="site-block clearfix">
          <form class="contact-form">
            <div class="form-row">
              <input type="text" placeholder="Your name">
            </div>
            <div class="form-row">
              <input type="text" placeholder="Your email" class="shorter">
              <select style="width: 180px;" class="selectmenu">
                <option>Contact type</option>
                <option>Mail</option>
                <option>Phone</option>
              </select>
            </div>
            <div class="form-row"> 
              <textarea cols="20" rows="5" placeholder="Your message"></textarea>
            </div>
            <div class="form-controls">
              <input type="submit" value="send" class="button">
            </div>
          </form>
          <div class="contact-info">
            <p class="small">Our office is open 9:00 AM to 5:00 PM (EST) Monday – Friday. We will respond as soon as possible to voicemail and emails.</p>
            <h3>Live Chat</h3><br>
            <h3>Our US Office</h3>
            <p>400 West Broadway, New York, <br>NY 10012, United States<br>Tel: +354 415 5100<br>Email: <a href="#">iceland@xperious.travel</a></p>
          </div>
        </div>
      </div>
      <div id="help" class="section help-section">
        <div class="site-block">
          <h2>Can we help?</h2>
          <h3>Have a question or need help? <br> Our <a href="#">Help Center</a> can help you get answers to your questions fast and easy.</h3>
        </div>
      </div>
      <div id="team" class="section team-section">
        <div class="site-block">
          <div class="title clearfix">
            <h2>the <br/><strong>team</strong></h2>
            <div class="subtitle">Meet the key players on the Xperious.Travel team.  </div>
          </div>
          <h3>The Xperious.Travel team is more than happy to assist you in any way they can.</h3>
          <div class="team-list clearfix">
            <div class="element"><img src="images/team-1.png">
              <div class="cover">
                <div class="name">Hilmar Halldorsson</div>
                <div class="position">CEO - Founder</div>
              </div>
            </div>
            <div class="element"><img src="images/team-1.png">
              <div class="cover">
                <div class="name">Hilmar Halldorsson</div>
                <div class="position">CEO - Founder</div>
              </div>
            </div>
            <div class="element"><img src="images/team-1.png">
              <div class="cover">
                <div class="name">Hilmar Halldorsson</div>
                <div class="position">CEO - Founder</div>
              </div>
            </div>
            <div class="element"><img src="images/team-1.png">
              <div class="cover">
                <div class="name">Hilmar Halldorsson</div>
                <div class="position">CEO - Founder</div>
              </div>
            </div>
            <div class="element"><img src="images/team-1.png">
              <div class="cover">
                <div class="name">Hilmar Halldorsson</div>
                <div class="position">CEO - Founder</div>
              </div>
            </div>
            <div class="element"><img src="images/team-1.png">
              <div class="cover">
                <div class="name">Hilmar Halldorsson</div>
                <div class="position">CEO - Founder</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer" class="section footer-section">
        <div class="site-block clearfix">
          <div class="col">
            <h4>NAVIGATE</h4>
            <div class="footer-links clearfix"><a href="#">Home</a><a href="#">Contact Us</a><a href="#">About us</a><a href="#">Privacy Policy</a><a href="#">About us</a><a href="#">Blog</a><a href="#">Events</a><a href="#">Destination</a><a href="#">Terms &amp; Conditions</a></div>
          </div>
          <div class="col col-2">
            <h4>CONTACT</h4>
            <p><strong>Xperious</strong><br>ICELAND office<br>Ofanleiti 2, 4th floor<br>105 Reykjavik - Iceland<br><br><a href="#">ICELAND@XPERIOUS.TRAVEL</a><br><br>Tel: +354 415 5100<br><br><br><br><strong>LIVE CHAT</strong><br>Our office is open 9:00 AM to <br>5:00 PM (GMT) Monday – Friday.<br>We will respond as soon as possible <br>to voicemail and emails.</p>
          </div>
          <div class="col col-3">
            <h4><br/></h4>
            <div class="partners clearfix"><a href="#"> <img src="images/logo-1.png"></a><a href="#"> <img src="images/logo-2.png"></a><a href="#"> <img src="images/logo-3.png"></a></div>
          </div>
        </div>
      </div>
      <div class="bottom-shadow"><br/></div>
    </div>
    <div id="bottom" class="section bottom-section">
      <div class="site-block">
        <p>We're based in Reykjavik, Iceland. <br>We work with clients from all over the world. Get in touch with us, we’re user-friendly!</p>
        <div class="contacts"><span class="email"> <a href="#">iceland@xperious.travel</a></span><span class="phone">+354 415 5100</span></div>
        <p>We’re always looking for great talent to join our team. Apply for a position today!</p>
        <p class="copyrights">&copy;2013 Xperious Ltd. All Rights Reserved.</p>
      </div>
    </div>
  </body>