.attractions-page .attractions-list .element .img {
    width: 226px;
    height: 155px;
    background-size: cover;
    background-position: center center;
}

.attractions-page .attractions-title-section .site-block h2 {
	width: 480px;
}

.attractions-page .attractions-title-section .region-select {
	padding-left: 240px;
}

.attractions-page .loading {
    width: 100%; 
    height: 180px;
    padding-top: 120px; 
    text-align: center; 
    background-color: #fff  
}

    .attractions-page .loading img { 
        width: 35px;
        opacity: 0.75;
    }