.attractions-place-page .inner-home-section {
    background: url(../import/images/attractions-bg-2.jpg) no-repeat fixed center top;
}

.attractions-place-page .attractions-title-section .site-block h2 {
    width: auto;
}

.attractions-place-page .attractions-title-section .region-select {
    padding-left: 240px;
    position: static;
}


.attractions-place-page .rout-on-map-section .map-holder {
    width: 780px;
    height: 390px;
    padding: 0px;
    margin-top: 45px;   
}

.attractions-place-page .gallery .media-holder img {
    padding-right: 780px;
    padding-bottom: 380px;
    background-size: cover;
}

.attractions-place-page .gallery .thumbs-holder img {
    padding-right: 156px;
    padding-bottom: 100px;
    background-size: cover;
}

.attractions-place-page .attractions-title-section .site-block {
    padding-bottom: 8px;
}

.attractions-place-page .loading {
    width: 100%; 
    height: 180px;
    padding-top: 120px; 
    text-align: center; 
    background-color: #fff	
}

    .attractions-place-page .loading img { 
        width: 35px;
        opacity: 0.75;
    }