.details-prices-section .zebra .price-cell {
	width: 75px;
}

.rout-on-map-section .map-holder {
    width: 780px;
    height: 390px;
    padding: 0px;
    margin-top: 45px;	
}

.day-map .map-holder {
	width: 715px;
	height: 460px;
}

.selected-package-page .gallery .media-holder {
    width: 780px;
    height: 500px;
}

.selected-package-page .gallery .media-holder img {
    padding-right: 780px;
    padding-bottom: 500px;
    background-size: cover;
    background-position: center center;
}

.selected-package-page .gallery .thumbs-holder img {
	padding-right: 156px;
    padding-bottom: 100px;
	background-size: cover;
	width: 0px;
	height: 0px;
    background-position: center center;
}


#day-popup {
}

	#day-popup .day-popup .lefter div > p, 
	#day-popup .day-popup .lefter li p {
		font-size: 14px; 
		color: #fff; 
		padding-left: 22px; 
		margin-left: 10px; 
		margin-right: 10px; 
		margin-bottom: 73px;
	}
	
	#day-popup .righter .content h4 span { 
        cursor: hand; 
        cursor: pointer;
    }

	#day-popup .day-popup .event-tooltip .close {
		padding-right: 15px;
		padding-top: 3px;
	}
	
	#day-popup .day-popup .event-tooltip .popup-bottom {
        padding-bottom: 20px;
    }


.selected-package-page .day-element .img div {
    width: 300px; 
    height: 205px;
	background-size: cover; 
	border-radius: 3px 3px 0px 0px;
	background-position: center center;
}

.product-popup {
	position: absolute;
}

    .product-popup .map-holder {
        width: 100%;
        height: 150px;
        background: #c9c9c9;
    }
    
    .product-popup .popup-gallery-fader img {
        background-size: cover; 
        padding-right: 440px; 
        padding-bottom: 205px;
    }

    
.days-list .wider {
	width: 450px; 
	float: left; 
	margin-right: 22px;
}

    .days-list .wider .day-element .img div{
        width: 450px; 
        height: 205px;
    }


.days-list .widest {
    width: 900px; 
    height: 205px;
    margin-bottom: 20px;
}

	.days-list .widest .day-element .img div{
        width: 450px; 
        height: 205px;
        border-radius: 3px 0px 0px 3px;
	}
	
	.days-list .widest .day-element .img {
        float: left;
    }
    
    .days-list .widest .day-element .description {
        margin-left: 450px;
        height: 175px;
    }