.element:hover .loader {
	visibility: hidden;
}

.package-elements .element > div {
	background-size: cover;
	background-position: center center;
}

.package-list-page .sidebar-content-section {
	padding-bottom: 30px;
}