<div id="day-popup">
    <div class="day-popup clearfix">
     <div class="lefter">
        <div class="day-products-view"></div>
     </div>
     <div class="righter">
       <div class="top">
         <h2 class="title">This is how your <span><%= day + 1 %> day</span> in your vacation looks like</h2>
         <h3 class="subtitle">You can add to it, delete it and change as you like, after all it's your vacation.</h3>
         <div class="content">
           <% var included = _.filter(items, function(i) { return i.type === 'PRODUCT' || i.type === 'LODGING';}) %>
           <% _.each(included, function(item, index) { %>
	           <div class="wrapper">
	                <h4>
	                    <span class="wrapper-title" data-index="<%= _.indexOf(items, item) %>"><%= item.title %></span>
	                </h4>
<!-- 	                <p>
	                    <div style="width: 200px; height: 150px; background-image: url('<%= item.summary.image %>'); background-size: cover; background-position: center center;" />
	                </p> -->
<!-- 	                <p>
	                    <%= item.summary.on %> <%= item.summary.duration %>
	                </p> -->
	                <p>
	                    <%= item.summary.description %>
	                    <a class="more-info" data-index="<%= _.indexOf(items, item) %>" href="javascript:void(0)">More Info</a>
	                </p>
	           </div>
           <% }) %>
           <% if (!items.length) { %>
                <p style="font-size: 16px; font-weight: 300; height: 200px">No attractions this day, you can enjoy the view while driving and relax at the hotel.</p>
           <% } %>
         </div>
       </div>
       <div class="day-map">
         <h4>DAY ON THE MAP</h4>
         <h5>
            <span class="total-distance"></span>
            <span class="total-duration">Total time: <%= moment.duration(duration).humanize() %></span>
         </h5>
         <div class="map-holder" />
       </div>
     </div>
    <div class="day-product-view"></div>
  </div>
</div>