<% if (!_.isEmpty(attractions) || !_.isEmpty(activities) || !_.isEmpty(restaurants)) { %>

<h4>TO ADD ITEM:</h4>
<p>Click on what you want to add.</p>

<div class="activities-block">
   <h4>ATTRACTIONS NEARBY</h4>
   <% if (!_.isEmpty(attractions)) { %>
   <ul class="menu">
	    <% _.each(_.first(attractions, 10), function(pd) { %>
	        <li><a href="javascript:void(0)" data-id="<%= pd.product.id %>"><%= pd.product.title %> (<%= pd.distance %>KM)</a></li>
	    <% }) %>
    <% } else { %>
        <li style="height: 10px;"><p>No nearby attractions found</p></li>
    <% } %>        
   </ul>
</div>


<div class="activities-block">
   <h4>ACTIVITIES NEARBY</h4>
   <ul class="menu">
   <% if (!_.isEmpty(activities)) { %>
        <% _.each(_.first(activities, 10), function(pd) { %>
           <li><a href="javascript:void(0)" data-id="<%= pd.product.id %>"><%= pd.product.title %> (<%= pd.distance %>KM)</a></li>
        <% }) %>
    <% } else { %>
       <li style="height: 10px;"><p>No nearby activities found</p></li>
    <% } %>
   </ul>
</div>

<div class="activities-block">
   <h4>RESTAURANTS NEARBY</h4>
   <ul class="menu">
   <% if (!_.isEmpty(restaurants)) { %>
        <% _.each(_.first(restaurants, 10), function(pd) { %>
           <li><a href="javascript:void(0)" data-id="<%= pd.product.id %>"><%= pd.product.title %> (<%= pd.distance %>KM)</a></li>
        <% }) %>
    <% } else { %>
       <li style="height: 10px;"><p>No nearby restaurants found</p></li>
    <% } %>
   </ul>
</div>

<% } %>